<ion-grid>
  <ion-row class="ion-margin-top">
    <ion-col size="12">
      <ion-list>
        <ion-item lines="none" class="primary-input-item ion-margin-bottom">
          <ion-input type="password" [placeholder]="'Create a password'" [(ngModel)]="passwordSetup.password"
            [disabled]="isProcessing"></ion-input>
        </ion-item>
        <ion-item lines="none" class="primary-input-item">
          <ion-input type="password" [placeholder]="'Confirm your password'"
            [(ngModel)]="passwordSetup.confirm_password" [disabled]="isProcessing"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-top">
    <ion-col size="12">
      <div class="primary-button-wrapper">
        <ion-button expand="block" class="ion-margin-bottom" size="default" (click)="setupPassword()"
          [disabled]="isProcessing">
          Set Password & Continue
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center security-tips">
        <ion-icon name="shield-checkmark"></ion-icon>
        <span style="font-family: 'Poppins', sans-serif; font-size: 15px;">Your data is encrypted locally</span>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
