<div class="mnemonic-container ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item class="primary-input-item name-item" lines="none">
          <ion-label>Name:</ion-label>
          <ion-input type="text" [(ngModel)]="walletName" placeholder="e.g. My Wallet Name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" *ngFor="let word of mnemonicPhrase; index as i">
        <ion-item class="primary-input-item">
          <ion-input type="text" [(ngModel)]="mnemonicPhrase[i]" autocomplete="off" readonly="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="copy-paste-button-wrapper ion-text-center ion-margin-top">
          <ion-button fill="outline" size="small" (click)="copyToClipboard()">
            <ion-icon name="copy-outline" slot="start"></ion-icon>
            Copy to Clipboard
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="primary-button-controls">
          <ion-button expand="block" size="default" class="ion-margin-bottom">
            OK, I SAVED IT SOMEWHERE
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
