.mnemonic-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-grid {
    max-width: 500px;
    width: 100%;
  }

  ion-col {
    padding: 3px;
  }

  ion-item.name-item {
    margin-bottom: 10px;
  }
}
