.mnemonic-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-item.name-item {
    --background: #333333;
    --color: #ffffff;

    border: 3px solid #777777;
    border-radius: 50px;
    box-shadow: none !important;
    margin-bottom: 20px;

    ion-label {
      font-weight: 700;
    }
  }

  ion-grid {
    max-width: 500px;
    width: 100%;
  }

  ion-col {
    padding: 3px;
  }

  ion-item.mnemonic-item {
    --background: #333333;
    --color: #ffffff;

    border: 3px solid #777777;
    border-radius: 50px;
    box-shadow: none !important;
  }

  ion-input {
    border: none;
  }
}
