<ion-content [fullscreen]="true" class="select-pay-content">
  <div class="ion-padding-horizontal">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom xterium-header">
            <h1>Pay</h1>
            <span>Choose how you would like to pay for your transaction.</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="3"></ion-col>
        <ion-col size="12" size-md="6">
          <ion-card class="pay-card">
            <div class="pay-card-image">
              <img src="./../../../assets/images/backgrounds/pay-scan.png" />
            </div>
            <ion-card-header>
              <ion-card-title>Scan or Upload QR</ion-card-title>
              <ion-card-subtitle>
                Pay by scanning or uploading a QR code.
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="ion-margin-bottom">
                Scan a QR code using your device's camera or upload a QR code image to process payments quickly and
                securely.
              </div>
              <br />
              <div class="primary-button-wrapper">
                <ion-button expand="block" class="ion-margin-bottom" (click)="selectScan()">
                  Scan
                </ion-button>
                <ion-button expand="block" class="ion-margin-bottom" (click)="selectUploadQR()">
                  Upload
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="3"></ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col>
          <div class="powered-by">
            <span>Powered by:</span>
            <img src="../../../../assets/images/multipayx/multipayx.png" alt="MultipayX Logo" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
