.private-key-container {
  ion-item.name-item {
    --background: #333333;
    --color: #ffffff;

    border: 3px solid #777777;
    border-radius: 50px;
    box-shadow: none !important;

    ion-label {
      font-weight: 700;
    }
  }

  ion-item.textarea-item {
    --background: #333333;
    --color: #ffffff;

    border: 3px solid #777777;
    border-radius: 20px;
    box-shadow: none !important;

    ion-label {
      font-weight: 700;
    }
  }
}
