<div class="private-key-container ion-padding">
  <ion-item class="name-item" lines="none">
    <ion-label>Name:</ion-label>
    <ion-input type="text" [(ngModel)]="walletName" placeholder="e.g. My Wallet Name"></ion-input>
  </ion-item>
  <ion-item class="textarea-item" lines="none">
    <ion-label position="stacked">Private Key:</ion-label>
    <ion-textarea [(ngModel)]="privateKey" auto-grow="true" rows="6"
      placeholder="Paste your private key here"></ion-textarea>
  </ion-item>
  <div class="paste-button-wrapper ion-text-center ion-margin-top">
    <ion-button fill="outline" size="small" (click)="pasteFromClipboard()">
      <ion-icon name="clipboard-outline" slot="start"></ion-icon>
      Paste from Clipboard
    </ion-button>
  </div>
</div>
<div class="primary-button-controls">
  <ion-button expand="block" size="default" class="ion-margin-bottom">
    IMPORT WALLET
  </ion-button>
</div>
