.upload-backup-container {
  .upload-input-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: none !important;

    .upload-label {
      font-size: 14px;
      color: #ffffff;
      padding-left: 9px;
      padding-right: 9px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    input[type='file'] {
      background: #333333;
      color: #ffffff;
      border: 3px solid #777777;
      border-radius: 50px;
      box-shadow: none !important;
      padding: 10px;
    }
  }
}
