.upload-backup-container {
  ion-item.name-item {
    --background: #333333;
    --color: #ffffff;

    border: 3px solid #777777;
    border-radius: 50px;
    box-shadow: none !important;

    ion-label {
      font-weight: 700;
    }
  }

  .upload-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: none !important;

    .upload-label {
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      padding-left: 9px;
      padding-right: 9px;
      margin-bottom: 2px;
    }

    input[type='file'] {
      border: 3px solid #777777;
      border-radius: 50px;
      box-shadow: none !important;
      padding: 10px;
    }
  }
}
