<div class="upload-backup-container">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item class="primary-input-item ion-margin-bottom" lines="none">
            <ion-label>Name:</ion-label>
            <ion-input type="text" [(ngModel)]="walletName" placeholder="e.g. My Wallet Name"></ion-input>
          </ion-item>
          <ion-item class="primary-input-file" lines="none">
            <div class="upload-input-wrapper">
              <label for="fileUpload" class="upload-label">Choose backup file:</label>
              <input id="fileUpload" type="file" accept=".json,.txt" (change)="onFileSelected($event)" />
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <div class="primary-button-wrapper">
          <ion-button expand="block" size="default" class="ion-margin-bottom" (click)="importWallet()"
            [disabled]="isProcessing">
            IMPORT WALLET
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toast [duration]="5000"></ion-toast>
</div>

<ion-modal #confirmImportWalletModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]" [expandToScroll]="false">
  <ng-template>
    <ion-toolbar class="main-modal-toolbar">
      <ion-title>Confirm Import</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="confirmImportWalletModal.dismiss()">
          <ion-icon name="close" style="color: white;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-content>
      <div class="modal-content-container">
        <app-sign-wallet (onSignWallet)="onSignWallet($event)"></app-sign-wallet>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
