.upload-backup-container {
  ion-list {
    background: transparent;
  }

  .upload-input-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: none !important;

    .upload-label {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    input[type='file'] {
      padding: 5px 5px 10px 5px;
      margin-left: -5px;
    }
  }
}
