<ion-grid>
  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center" style="margin-top: -75px">
        <h1 style="font-weight: bold">Login</h1>
        <span style="font-size: 15px;">Enter your password to unlock</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-top">
    <ion-col size="12">
      <ion-list>
        <ion-item lines="none" class="primary-input-item">
          <ion-input type="password" [placeholder]="'Create a password'" [(ngModel)]="passwordLogin.password"
            [disabled]="isProcessing"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-top">
    <ion-col size="12">
      <div class="primary-button-wrapper">
        <ion-button expand="block" class="ion-margin-bottom" size="default" (click)="login()" [disabled]="isProcessing">
          Unlock
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="ion-text-center security-tips">
        <ion-icon name="shield-checkmark"></ion-icon>
        <span style="font-size: 15px;">Your data is encrypted locally</span>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
