.settings-list {
    border: none;

    ion-list {
      background: transparent;
      padding-bottom: 20px;
  
      ion-item.custom-buttons{
  
        --background: #333333;
  
        border-radius: 25px;
        transition: background 0.2s;
        margin-bottom: 10px;
      }
  
      h2 {
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin: 0px;
      }
    }
  }