.settings-list {
  border: none;

  ion-list {
    background: transparent;
    padding-bottom: 20px;

    ion-label {
      color: #b1b1b1;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      white-space: nowrap;
      margin: 20px 5px;
    }

    ion-item.custom-buttons {

      --background: #333333;
      border-radius: 1.5rem;
      transition: background 0.2s;
      margin: 10px 0;

      ion-icon {
        color: #0bbab5;
      }
    }

    h2 {
      color: white;
      font-size: 18px;
      font-weight: 600;
      margin: 0px;
      white-space: nowrap;
    }

    p {
      color: #b9b8b8 !important;
    }
  }
}

.sign-transaction {
  .logo {
    margin-top: 20px;
    height: 80px;
  }
}
