<ion-content [fullscreen]="true" class="web3-fees-page">
  <div class="ion-text-center ion-margin-bottom">
    <img alt="xterium" src="./../../../assets/icon/xterium-logo.png" class="logo" />
  </div>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom" style="margin-top: -75px;">
            <h1 style="font-weight: bold">
              {{ 'Sign Transaction' | translate }}
            </h1>
            <span style="font-size: 15px;">{{ 'Please review before confirming your transaction' | translate }}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center">
            <ion-chip [color]="'success'">
              <ion-icon [name]="'cube'"></ion-icon>
              @if (isLoadingFee) {
              <ion-spinner name="lines"></ion-spinner>
              }
              @else {
              <ion-label>{{ extrinsic }}</ion-label>
              }
            </ion-chip>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="wallet-details ion-margin-top">
            <h2 style="margin-left: 5px; margin-bottom: 5px;">{{ 'Send from Account:' | translate }}</h2>
            <ion-list>
              <ion-item detail="false" lines="none">
                <ion-avatar slot="start" style="padding: 3px; margin-right: 7px;">
                  <img [src]="'./../../../../assets/images/chains/' + currentWallet.chain.image" alt="Chain Logo" />
                </ion-avatar>
                <ion-label>
                  <h2>{{ currentWallet.name }}</h2>
                  <p>{{ truncateAddress(currentWalletPublicAddress) }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="payload-container">
            <ion-card class="transaction-card">
              <ion-list>
                <ion-item lines="none">
                  <ion-label>
                    <strong>{{ 'Transaction Status:' | translate }}</strong>
                  </ion-label>
                  <ion-chip color="secondary" slot="end">
                    <ion-label>{{ 'Queued' | translate }}</ion-label>
                  </ion-chip>
                </ion-item>
                <ion-item lines="none">
                  <ion-icon name="arrow-up-outline" size="small" slot="start"></ion-icon>
                  <ion-label>{{ 'Source:' | translate }}</ion-label>
                  <ion-text slot="end" class="label-value">
                    {{ truncateAddress(currentWalletPublicAddress) }}
                  </ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-icon name="globe-outline" size="small" slot="start"></ion-icon>
                  <ion-label>{{ 'Network' | translate }}</ion-label>
                  <ion-text slot="end" class="label-value">
                    {{ currentWallet.chain.name }}
                  </ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-icon name="flame" size="small" slot="start"></ion-icon>
                  <ion-label>{{ 'Estimated Fee:' | translate }}</ion-label>
                  <ion-text slot="end" class="label-value">
                    @if (isLoadingFee) {
                    <div class="fee-loading">
                      <ion-spinner name="lines"></ion-spinner>
                    </div>
                    }
                    @else {
                    {{ formatBalance(estimatedFee, currentWallet.chain.decimal).toFixed(5) }}
                    {{ currentWallet.chain.unit }}
                    }
                  </ion-text>
                </ion-item>
              </ion-list>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="ion-padding-horizontal">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="primary-button-wrapper">
            <ion-button expand="block" size="default" class="ion-margin-bottom" (click)="signTransactions()"
              [disabled]="isLoadingFee">
              {{ 'Sign' | translate }}
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="primary-button-wrapper">
            <ion-button expand="block" size="default" class="ion-margin-bottom danger-button"
              (click)="cancelTransaction()">
              {{ 'Cancel' | translate }}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>

<ion-modal #noWalletModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]" [expandToScroll]="false">
  <ng-template>
    <ion-toolbar class="main-modal-toolbar">
    </ion-toolbar>
    <ion-content>
      <div class="modal-content-container content">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="no-wallet-content">
                <h2>No Wallet Found</h2>
                <br />
                <p class="wallet-text">
                  You need to create or import a wallet to securely store your keys and authorize any blockchain transaction.
                </p>
                <p class="wallet-text">
                  Click the Onboarding button below to get started with setting up your wallet.
                </p>
                <ion-button expand="block" size="default" class="ion-margin-bottom secondary-button"
                  (click)="navigateToOnboarding(noWalletModal)">
                  Onboarding
                </ion-button>
            </div>
          </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #confirmSignTransactionModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]" [expandToScroll]="false">
  <ng-template>
    <ion-toolbar class="main-modal-toolbar">
      <ion-title>{{ 'Confirm Transaction' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="confirmSignTransactionModal.dismiss()">
          <ion-icon name="close" style="color: white;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-content>
      <div class="modal-content-container sign-transaction">
        <div class="ion-text-center ion-margin-bottom">
          <img alt="xterium" src="./../../../assets/icon/xterium-logo.png" class="logo" />
        </div>
        <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom">
          <h1 style="font-weight: bold">{{ 'Sign' | translate }}</h1>
          <span style="font-size: 15px;">
            {{ 'To confirm this transaction, please authenticate using the method you have set up for your wallet.' | translate }}
          </span>
        </div>
        <div class="ion-padding-horizontal">
          @if (isChromeExtension && currentAuth) {
          <app-password-login (onLogin)="confirmSignTransaction($event)"></app-password-login>
          } @else if (isChromeExtension && !currentAuth) {
          <app-password-setup (onPasswordSetup)="confirmSignTransaction($event)"></app-password-setup>
          } @else if (!isChromeExtension && isBiometricAvailable && (!currentAuth || currentAuth.type === 'biometric'))
          {
          <app-biometric (onLogin)="confirmSignTransaction($event)"></app-biometric>
          } @else if (!isChromeExtension && isBiometricAvailable && currentAuth?.type === 'pin') {
          <app-pin-login (onLogin)="confirmSignTransaction($event)"></app-pin-login>
          } @else if (!isChromeExtension && !isBiometricAvailable && currentAuth?.type === 'biometric') {
          <div class="biometric-unavailable">
            <p class="unavailable-text">
              {{ 'You\'ve previously set up biometric authentication, but it\'s currently unavailable on this device. Please set up your biometric authentication again to continue.' | translate }}
            </p>
          </div>
          } @else if (!isChromeExtension && !isBiometricAvailable && currentAuth?.type === 'pin') {
          <app-pin-login (onLogin)="confirmSignTransaction($event)"></app-pin-login>
          } @else {
          <app-pin-setup (onPasswordSetup)="confirmSignTransaction($event)"></app-pin-setup>
          }
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
