<ion-content [fullscreen]="true" class="select-network-content">
  <div class="ion-text-center">
    <app-header></app-header>
  </div>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom" style="margin-top: -75px;">
            <h1 style="font-weight: bold;">Welcome!</h1>
            <span style="font-size: 15px;">
              Get started by selecting your preferred network. This will be used to configure your wallet
              settings.
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col size="12" class="">
          <ion-list>
            <ion-item lines="none">
              <ion-card button class="network-card" [class.active]="selectedNetwork === Network.Polkadot"
                (click)="selectNetworkMetadata(Network.Polkadot)">
                <ion-card-content>
                  <ion-avatar slot="start">
                    <img src="../../../assets/images/networks/polkadot.png" alt="AssetHub" />
                  </ion-avatar>
                  <ion-label>
                    <h2>Polkadot</h2>
                    <p>
                      Connect to the Polkadot network, a leading
                      multi-chain platform for interoperability and
                      scalability.
                    </p>
                  </ion-label>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center ion-margin-top ion-margin-bottom">
            <ion-checkbox (ionChange)="isAgreed = $event.detail.checked" [checked]="isAgreed">
              <div class="" style="font-size: 15px;">
                I agree to the
                <a (click)="openTermsAndConditionModal()">terms and conditions</a>
              </div>
            </ion-checkbox>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col size="12">
          <div class="primary-button-wrapper">
            <ion-button expand="block" size="default" class="ion-margin-bottom" (click)="getStarted()"
              [disabled]="!isAgreed">
              GET STARTED
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal #termsAndConditionModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]" [expandToScroll]="false">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>Terms and Conditions</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="termsAndConditionModal.dismiss()" fill="clear">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-content>
        <div class="ion-padding-horizontal">
          <app-terms-and-condition></app-terms-and-condition>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-toast [duration]="5000"></ion-toast>
</ion-content>
