.select-network-content {
  ion-list {
    background: transparent;

    ion-item {
      --background: transparent;
      --padding-start: 0;
      --inner-padding-end: 0;

      ion-card.network-card {
        --background: #2a2a2a;

        border-radius: 1.5rem;
        border: 3px solid #2a2a2a;
        margin: 5px 0px;
        width: 100%;
        cursor: pointer;

        ion-card-content {
          --background: transparent;

          display: flex;
          align-items: center;
          gap: 12px;
          padding: 10px 15px;

          ion-avatar {
            border-radius: 50%;
            flex-shrink: 0;
          }

          h2 {
            color: #fff;
            font-weight: 600;
            margin: 0;
          }

          p {
            color: #c7c7c7;
            margin: 0;
          }
        }

        &.active {
          --background: #00605d;

          border: 3px solid #0bbab5;
          background: var(--background);
        }
      }
    }
  }
}
