.language-list {
  border: none;
  padding: 5px 8px;

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: #333333;

    border-radius: 25px;
    transition: background 0.2s;
  }

  ion-label h2 {
    color: #ffffff !important;
  }

  p {
    color: #b9b8b8 !important;
  }
}

.language-icon {
  border-radius: 50%;
  margin-right: 16px;
}
