<div class="qrcode">
  <qrcode [qrdata]="'5CJ6JNcNx2vu4bgVBkeaAFwh4XwnCmjT6HK1MprzzePm7cTY'" [allowEmptyString]="true"
    [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'canvas'" [errorCorrectionLevel]="'M'"
    [imageSrc]="'./../../../assets/images/tokens/usdt.png'" [imageHeight]="50" [imageWidth]="50" [margin]="0"
    [scale]="1" [width]="300">
  </qrcode>
</div>

<div class="wallet-details ion-padding-horizontal">
  <ion-list>
    <ion-item detail="false" lines="none">
      <ion-avatar slot="start">
        <img src="./../../../../assets/icon/xterium-logo.png" />
      </ion-avatar>
      <ion-label>
        <h2>My Wallet 2</h2>
        <p>5CJ6J...Pm7cTY</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

<div class="primary-button-controls">
  <ion-button expand="block" size="default" id="import-seed-phrase">
    SHARE ADDRESS
  </ion-button>
</div>
