<div class="qrcode">
  <qrcode [qrdata]="currentWalletPublicAddress" [allowEmptyString]="true" [colorDark]="'#000000ff'"
    [colorLight]="'#ffffffff'" [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [imageSrc]="qrImageIcon"
    [imageHeight]="70" [imageWidth]="70" [margin]="0" [scale]="1" [width]="300">
  </qrcode>
</div>

<div class="wallet-details ion-padding-horizontal">
  <ion-list>
    <ion-item detail="false" lines="none">
      <ion-avatar slot="start">
        <img src="./../../../../assets/icon/xterium-logo.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{ currentWallet.name }}</h2>
        <p>{{ truncateAddress(currentWalletPublicAddress) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

<div class="primary-button-controls">
  <ion-button expand="block" size="default" id="import-seed-phrase">
    SHARE ADDRESS
  </ion-button>
</div>
