.receive-details {
  .qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: white;
    margin: 10px auto 20px auto;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
  }

  .wallet-details {
    border: none;

    ion-list {
      background: transparent;

      ion-item {
        --background: #333333;

        border-radius: 25px;
        margin-bottom: 10px;
        transition: background 0.2s;
      }

      h2 {
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin: 0px;
        padding: 8px 0px 2px 0px;
      }

      p {
        color: #bdbdbd;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        margin: 0px;
        padding: 0px 0px 8px 0px;
      }
    }
  }
}
