.segments {
  font-weight: 700;
  margin-top: 65px;
  color: #ffffff;
  padding-left: 26px;
  padding-right: 26px;

  ion-segment {
    --background: #333333;

    ion-segment-button {
      --color: white;
      --indicator-color: #0bbab5;
      --padding-top: 10px;
      --padding-bottom: 10px;

      font-size: 14px;

      &.segment-button-checked {
        --background: #0bbab5;
        --color: white;

        font-weight: 700;
      }
    }
  }
}

.payment-history-segment-content {
  ion-row.date-as-of {
    --border-radius: 15px;

    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10px;
    margin-bottom: 10px;

    ion-label {
      font-weight: 700;
    }

    ion-item {
      --background: #333333;
      --border-radius: 15px;
    }
  }

  .transaction-date {
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 0px 22px;
    font-weight: 700;
  }

  ion-card.transaction-card {
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 21px;
    margin-right: 21px;
    background: #2a2a2a;

    .transaction-note {
      font-size: 14px;
      background: #2a2a2a;
    }

    ion-item {
      --background: #2a2a2a;
    }

    ion-item.transaction-item {
      --background: #2a2a2a;

      .transaction-item-details {
        font-size: 18px;
        font-weight: 900;
        background: #2a2a2a;
      }
    }

    ion-item.token-info {
      --background: #2a2a2a;

      .token-amount {
        margin-bottom: 7px;
      }

      h2 {
        color: #ffffff;
        font-size: 15px;
      }
    }
  }
}

.block-scanner-segment-content {
  ion-row.search-hash {
    --border-radius: 15px;

    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10px;
    margin-bottom: 10px;

    ion-item {
      --background: #333333;
      --border-radius: 15px;
    }

    ion-button {
      --background: transparent;
      --background-hover: transparent;
      --background-activated: transparent;
      --background-focused: transparent;
      --color: white;
      --color-activated: #c2c2c2;

      margin-right: -7px;
    }
  }

  ion-card.transaction-card {
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 21px;
    margin-right: 21px;
    background: #2a2a2a;

    .transaction-note {
      padding: 0px 12px;
      font-size: 14px;
      background: #2a2a2a;
    }

    ion-item {
      --background: #2a2a2a;

      font-size: 15px;

      .label-value {
        font-weight: 700;
      }
    }
  }
}
