.transaction-history-content {
  .segments {
    font-weight: 700;
    margin-top: 70px;
    color: #ffffff;
    padding-left: 26px;
    padding-right: 26px;

    ion-segment {
      --background: #333333;
      border-radius: 25px;

      ion-segment-button {
        --color: white;
        --indicator-color: #0bbab5;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --border-radius: 25px;

        font-size: 14px;

        &.segment-button-checked {
          --background: #0bbab5;
          --color: white;

          font-weight: 700;
        }
      }

      .ion-activatable {
        --border-radius: 25px;
        border-radius: 25px;
      }
    }
  }

  .payments-segment-content {
    ion-row.date-as-of {
      --border-radius: 25px;
      margin-top: 10px;

      ion-label {
        font-weight: 700;
      }

      ion-item {
        --background: #333333;
        --border-radius: 25px;
      }
    }

    .transaction-date {
      margin: 20px 10px 10px 10px;
      font-weight: 700;
    }

    ion-card.transaction-card {
      margin: 12px 0px;
      border-radius: 25px;
      background: #2a2a2a;

      .transaction-note {
        font-size: 14px;
        background: #2a2a2a;
      }

      ion-item {
        --background: #2a2a2a;
      }

      ion-item.transaction-item {
        --background: #2a2a2a;

        .transaction-item-details {
          font-size: 18px;
          font-weight: 900;
          background: #2a2a2a;
        }
      }

      ion-item.token-info {
        --background: #2a2a2a;

        .token-amount {
          margin-bottom: 7px;
        }

        h2 {
          color: #ffffff;
          font-size: 15px;
        }
      }

      div.item-divider {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          margin: 10px;
          border: 1px solid rgb(73, 73, 73);
          width: 100%;
        }
      }
    }
  }

  .transfers-segment-content {
    ion-row.search-hash {
      --border-radius: 25px;
      margin-top: 10px;

      ion-item {
        --background: #333333;
        --border-radius: 25px;
      }

      ion-button {
        --background: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --color: white;
        --color-activated: #c2c2c2;

        margin-right: -7px;
      }
    }

    ion-card.transaction-card {
      margin: 12px 0px;
      border-radius: 25px;
      background: #2a2a2a;

      ion-item {
        --background: #2a2a2a;

        font-size: 15px;

        .label-value {
          font-weight: 700;
        }
      }
    }
  }

  .transactions-segment-content {
    ion-row.search-hash {
      --border-radius: 25px;
      margin-top: 10px;

      ion-item {
        --background: #333333;
        --border-radius: 25px;
      }

      ion-button {
        --background: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --color: white;
        --color-activated: #c2c2c2;

        margin-right: -7px;
      }
    }

    ion-card.transaction-card {
      margin: 12px 0px;
      border-radius: 25px;
      background: #2a2a2a;

      ion-item {
        --background: #2a2a2a;

        font-size: 15px;

        .label-value {
          font-weight: 700;
        }

        .chip-text {
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .chip-text ion-label {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
