<ion-content [fullscreen]="true" class="transaction-history-content">
  <div class="segments">
    <ion-segment value="default">
      <ion-segment-button value="default" content-id="payment-history">
        <ion-label>Payment History</ion-label>
      </ion-segment-button>
      <ion-segment-button value="transfers" content-id="transfers">
        <ion-label>Transfers</ion-label>
      </ion-segment-button>
      <ion-segment-button value="transactions" content-id="transactions">
        <ion-label>Transactions</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-segment-view>
    <ion-segment-content id="payment-history" class="payment-history-segment-content">
      <div class="ion-padding-horizontal">
        <ion-grid>
          <ion-row class="date-as-of">
            <ion-col size="12">
              <ion-item lines="none">
                <div slot="start">
                  <ion-label>Date as of:</ion-label>
                </div>
                <div slot="end" class="ion-text-right">
                  <ion-datetime-button datetime="datetime" style="margin-right: -5px;"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime id="datetime" presentation="date" prefer-wheel="false"
                        show-default-buttons="true"></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <div class="transaction-date">July 26, 2025</div>
              <ion-card class="transaction-card">
                <ion-item lines="none">
                  <ion-label>
                    <div class="transaction-note">5:28 PM QR Pay · Gcash</div>
                  </ion-label>
                </ion-item>

                <ion-item lines="none" class="transaction-item">
                  <ion-label>
                    <div class="transaction-item-details">JO****NP</div>
                  </ion-label>
                  <div class="transaction-item-details">Php 1,515.00</div>
                </ion-item>

                <ion-item lines="none" class="token-info">
                  <ion-avatar slot="start">
                    <img src="../../../assets/images/tokens/usdt.png" alt="USDT Token" />
                  </ion-avatar>
                  <ion-label>
                    <h2>USDT</h2>
                  </ion-label>
                  <div slot="end" class="ion-text-right token-amount">
                    <h2>23.64</h2>
                  </div>
                </ion-item>
              </ion-card>

              <div class="transaction-date">July 27, 2025</div>
              <ion-card class="transaction-card">
                <ion-item lines="none">
                  <ion-label>
                    <div class="transaction-note">5:28 PM QR Pay · Gcash</div>
                  </ion-label>
                </ion-item>

                <ion-item lines="none" class="transaction-item">
                  <ion-label>
                    <div class="transaction-item-details">JO****NP</div>
                  </ion-label>
                  <div class="transaction-item-details">Php 1,515.00</div>
                </ion-item>

                <ion-item lines="none" class="token-info">
                  <ion-avatar slot="start">
                    <img src="../../../assets/images/tokens/usdt.png" alt="USDT Token" />
                  </ion-avatar>
                  <ion-label>
                    <h2>USDT</h2>
                  </ion-label>
                  <div slot="end" class="ion-text-right token-amount">
                    <h2>23.64</h2>
                  </div>
                </ion-item>
              </ion-card>
              <ion-card class="transaction-card">
                <ion-item lines="none">
                  <ion-label>
                    <div class="transaction-note">5:28 PM QR Pay · Gcash</div>
                  </ion-label>
                </ion-item>

                <ion-item lines="none" class="transaction-item">
                  <ion-label>
                    <div class="transaction-item-details">JO****NP</div>
                  </ion-label>
                  <div class="transaction-item-details">Php 1,515.00</div>
                </ion-item>

                <ion-item lines="none" class="token-info">
                  <ion-avatar slot="start">
                    <img src="../../../assets/images/tokens/usdt.png" alt="USDT Token" />
                  </ion-avatar>
                  <ion-label>
                    <h2>USDT</h2>
                  </ion-label>
                  <div slot="end" class="ion-text-right token-amount">
                    <h2>23.64</h2>
                  </div>
                </ion-item>
              </ion-card>
              <ion-card class="transaction-card">
                <ion-item lines="none">
                  <ion-label>
                    <div class="transaction-note">5:28 PM QR Pay · Gcash</div>
                  </ion-label>
                </ion-item>

                <ion-item lines="none" class="transaction-item">
                  <ion-label>
                    <div class="transaction-item-details">JO****NP</div>
                  </ion-label>
                  <div class="transaction-item-details">Php 1,515.00</div>
                </ion-item>

                <ion-item lines="none" class="token-info">
                  <ion-avatar slot="start">
                    <img src="../../../assets/images/tokens/usdt.png" alt="USDT Token" />
                  </ion-avatar>
                  <ion-label>
                    <h2>USDT</h2>
                  </ion-label>
                  <div slot="end" class="ion-text-right token-amount">
                    <h2>23.64</h2>
                  </div>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-segment-content>

    <ion-segment-content id="transfers" class="transfers-segment-content">
      <div class="ion-padding-horizontal">
        <ion-grid>
          <ion-row class="search-hash">
            <ion-col size="12">
              <ion-item>
                <ion-input [(ngModel)]="searchKeyword" placeholder="Enter transaction hash"></ion-input>
                <ion-button fill="clear" slot="end">
                  <ion-icon name="search-outline" size="small"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>

          @if (isTransfersLoading) {
          <ion-row class="ion-justify-content-center ion-padding">
            <ion-spinner name="crescent"></ion-spinner>
          </ion-row>
          }

          @if (!isTransfersLoading && transfers.length === 0) {
          <ion-row>
            <ion-col class="ion-text-center ion-padding">
              <ion-text color="medium">No transactions found.</ion-text>
            </ion-col>
          </ion-row>
          }

          <ion-row>
            <ion-col size="12">
              @for (transaction of transfers; track transaction.hash) {
              <ion-card class="transaction-card">
                <ion-item lines="none">
                  <ion-label>
                    <strong> {{ transaction.hash | slice:0:10 }}...{{ transaction.hash | slice:-4 }} </strong>
                  </ion-label>
                  <ion-chip color="success" slot="end">
                    <ion-label> {{ transaction.status }} </ion-label>
                  </ion-chip>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="arrow-up-outline" size="small" slot="start"></ion-icon>
                  <ion-label>From:</ion-label>
                  <ion-text slot="end" class="label-value">
                    {{ transaction.from | slice:0:10 }} ... {{ transaction.from | slice:-4 }}
                  </ion-text>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="arrow-down-outline" size="small" slot="start"></ion-icon>
                  <ion-label>To:</ion-label>
                  <ion-text slot="end" class="label-value">
                    {{ transaction.to | slice:0:10 }} ... {{ transaction.to | slice:-4 }}
                  </ion-text>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="cash-outline" size="small" slot="start"></ion-icon>
                  <ion-label>Amount:</ion-label>
                  <div slot="end" class="label-value" style="display: flex; align-items: center; gap: 4px;">
                    <span>{{ transaction.amount }}</span>
                    <span> {{ transaction.token_symbol }} </span>
                  </div>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="cube-outline" size="small" slot="start"></ion-icon>
                  <ion-label>Block No.:</ion-label>
                  <ion-text slot="end" class="label-value"> {{ transaction.block_number }} </ion-text>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="swap-horizontal-outline" size="small" slot="start"></ion-icon>
                  <ion-label>Action:</ion-label>
                  <ion-chip color="secondary" slot="end">
                    <ion-label> {{ transaction.action }} </ion-label>
                  </ion-chip>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="cash-outline" size="small" slot="start"></ion-icon>
                  <ion-label>Fee:</ion-label>
                  <div slot="end" class="label-value" style="display: flex; align-items: center; gap: 4px;">
                    <span>{{ formatBalance(+transaction.fee, currentChain.decimal).toFixed(5) }}</span>
                    <span> {{ currentChain.unit }} </span>
                  </div>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="time-outline" size="small" slot="start"></ion-icon>
                  <ion-label>Time Stamp:</ion-label>
                  <ion-text slot="end" class="label-value">
                    {{ (transaction.timestamp * 1000) | date:'medium' }}
                  </ion-text>
                </ion-item>
              </ion-card>
              }
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-segment-content>

    <ion-segment-content id="transactions" class="transactions-segment-content">
      <div class="ion-padding-horizontal">
        <ion-grid>
          <ion-row class="search-hash">
            <ion-col size="12">
              <ion-item>
                <ion-input [(ngModel)]="searchKeyword" placeholder="Enter transaction hash"></ion-input>
                <ion-button fill="clear" slot="end">
                  <ion-icon name="search-outline" size="small"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>

          @if (isTransfersLoading) {
          <ion-row class="ion-justify-content-center ion-padding">
            <ion-spinner name="crescent"></ion-spinner>
          </ion-row>
          }

          @if (!isTransfersLoading && transfers.length === 0) {
          <ion-row>
            <ion-col class="ion-text-center ion-padding">
              <ion-text color="medium">No transactions found.</ion-text>
            </ion-col>
          </ion-row>
          }

          <ion-row>
            <ion-col size="12">
              @for (transaction of transfers; track transaction.hash) {
              <ion-card class="transaction-card">
                <ion-item lines="none">
                  <ion-label>
                    <strong> {{ transaction.hash | slice:0:10 }}...{{ transaction.hash | slice:-4 }} </strong>
                  </ion-label>
                  <ion-chip color="success" slot="end">
                    <ion-label> {{ transaction.status }} </ion-label>
                  </ion-chip>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="arrow-up-outline" size="small" slot="start"></ion-icon>
                  <ion-label>From:</ion-label>
                  <ion-text slot="end" class="label-value">
                    {{ transaction.from | slice:0:10 }} ... {{ transaction.from | slice:-4 }}
                  </ion-text>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="arrow-down-outline" size="small" slot="start"></ion-icon>
                  <ion-label>To:</ion-label>
                  <ion-text slot="end" class="label-value">
                    {{ transaction.to | slice:0:10 }} ... {{ transaction.to | slice:-4 }}
                  </ion-text>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="cash-outline" size="small" slot="start"></ion-icon>
                  <ion-label>Amount:</ion-label>
                  <div slot="end" class="label-value" style="display: flex; align-items: center; gap: 4px;">
                    <span>{{ transaction.amount }}</span>
                    <span> {{ transaction.token_symbol }} </span>
                  </div>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="cube-outline" size="small" slot="start"></ion-icon>
                  <ion-label>Block No.:</ion-label>
                  <ion-text slot="end" class="label-value"> {{ transaction.block_number }} </ion-text>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="swap-horizontal-outline" size="small" slot="start"></ion-icon>
                  <ion-label>Action:</ion-label>
                  <ion-chip color="secondary" slot="end">
                    <ion-label> {{ transaction.action }} </ion-label>
                  </ion-chip>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="cash-outline" size="small" slot="start"></ion-icon>
                  <ion-label>Fee:</ion-label>
                  <div slot="end" class="label-value" style="display: flex; align-items: center; gap: 4px;">
                    <span>{{ formatBalance(+transaction.fee, currentChain.decimal).toFixed(5) }}</span>
                    <span> {{ currentChain.unit }} </span>
                  </div>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon name="time-outline" size="small" slot="start"></ion-icon>
                  <ion-label>Time Stamp:</ion-label>
                  <ion-text slot="end" class="label-value">
                    {{ (transaction.timestamp * 1000) | date:'medium' }}
                  </ion-text>
                </ion-item>
              </ion-card>
              }
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
