.tokens-list {
  border: none;

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: #333333;
    border-radius: 1.5rem;
    transition: background 0.2s;

    .frozen-chip {
      height: 26px;
      padding: 0 8px;
      border-radius: 999px;
    
      ion-icon {
        font-size: 14px;
        margin-right: 4px;
        color: var(--ion-color-secondary-contrast);
      }
    
      ion-label {
        font-size: 12px;
        font-weight: 500;
        color: var(--ion-color-secondary-contrast);
      }
    }

    ion-label {
      max-width: 60%;
      min-width: 0;

      h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    div[slot="end"] {
      max-width: 35%;
      min-width: 0;

      h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  h2 {
    color: #ffffff;
    font-size: clamp(14px, 4vw, 16px);
    font-weight: 600;
    margin: 0px;
    padding: 8px 0px 2px 0px;
  }

  p {
    color: #bdbdbd;
    font-size: clamp(12px, 3.5vw, 14px);
    margin: 0px;
    padding: 0px 0px 8px 0px;
  }
}
