.tokens-list {
  border: none;

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: #333333;
    border-radius: 25px;
    transition: background 0.2s;

    ion-label {
      max-width: 60%;
      min-width: 0;

      h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    div[slot="end"] {
      max-width: 35%;
      min-width: 0;

      h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding: 8px 0px 2px 0px;
  }

  p {
    color: #bdbdbd;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 8px 0px;
  }
}
