<div class="tokens-list">
  @if (balances.length === 0) {
  <ion-grid class="global-loader-container">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-spinner name="lines"></ion-spinner>
        <h3 class="global-loader-text">{{ 'Loading assets, please wait...' | translate }}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  }
  @else {
  <ion-grid>
    <ion-row>
      @for (balance of balances; track balance) {
      <ion-col size="12">
        <ion-item button detail="false" lines="none" (click)="openToken(balance)">
          <ion-avatar slot="start" style="text-align: center;">
            @if (balance.token.image) {
            <img [src]="balance.token.image" />
            }
            @else {
            <ion-spinner name="lines"></ion-spinner>
            }
            @if (balance?.status === 'Frozen') {
            <div style="margin-top: -20px; margin-right: -25px;">
              <ion-icon name="snow-outline"
                style="color: white; background: var(--ion-color-secondary); border-radius: 50%; padding: 2px;">
              </ion-icon>
            </div>
            }
          </ion-avatar>
          <ion-label>
            <h2>{{ balance.token.name }}</h2>
            <p>
              {{ formatBalanceWithSuffix(balance.quantity, balance.token.decimals) }}
              {{ balance.token.symbol }}
            </p>
          </ion-label>
          <div slot="end" class="ion-text-right">
            <h2>
              {{ currencySymbol }} {{ formatBalanceWithSuffix(balance.amount, balance.token.decimals) }}
            </h2>
            <p>
              {{ currencySymbol }} {{ formatPrice(balance.price) }}
            </p>
          </div>
        </ion-item>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  }
</div>

<ion-toast [duration]="5000"></ion-toast>
