.wallet-details {
  padding: 5px 8px;

  ion-list {
    background: transparent;
  }

  .show-secrets {
    ion-list {
      background: transparent;

      ion-item {
        --background: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;

        border: 3px solid #777777;
        border-radius: 25px;
        box-shadow: none !important;
      }
    }
  }

  .item-divider {
    height: 5px;
    background-color: #777777;
    width: 50px;
    margin: 10px auto;
  }
}

.sign-transaction {
  .logo {
    margin-top: 20px;
    height: 80px;
  }
}

div.secrets {
  ion-grid {
    max-width: 500px;
    width: 100%;

    ion-col {
      padding: 3px;

      ion-list {
        background: transparent !important;
      }

      .secret-recovery-warning {
        text-align: center;
        padding: 25px;
        background: rgba(var(--ion-color-danger-rgb), 0.1);
        border-radius: 25px;
        border: 3px solid rgba(var(--ion-color-danger-rgb), 0.2);

        h2 {
          color: var(--ion-color-danger);
          margin: 0 0 5px 0;
          font-size: 18px;
          font-weight: bold;
        }

        .warning-text {
          color: var(--ion-color-danger);
          margin: 0;
          font-size: 15px;
        }
      }

      .secret-recovery-secondary {
        text-align: center;
        padding: 25px;
        background: rgba(var(--ion-color-secondary-rgb), 0.1);
        border-radius: 25px;
        border: 3px solid rgba(var(--ion-color-secondary-rgb), 0.2);

        .secondary-text {
          color: var(--ion-color-secondary);
          margin: 0;
          font-size: 15px;
        }
      }
    }
  }
}
