.bank-header {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px;
}

.bank-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.bank-name {
  font-size: 18px;
  font-weight: 600;
}