:host-context(body.scanner-active) {
  ion-content {
    --background: transparent !important;
  }
}

::ng-deep body.scanner-active {
  background: transparent !important;
  
  ion-app {
    background: transparent !important;
  }
  
  ion-content {
    --background: transparent !important;
  }
}

ion-content {
  --background: transparent;
}

.scanner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &.scanning-mode {
    background: transparent;
  }
}

.scan-button {
  margin-top: 20px;
}

.scanner-ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.scan-box {
  width: 250px;
  height: 250px;
  position: relative;
  margin-bottom: 30px;
  
  .corner {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    
    &.top-left {
      top: 0;
      left: 0;
      border-right: none;
      border-bottom: none;
    }
    
    &.top-right {
      top: 0;
      right: 0;
      border-left: none;
      border-bottom: none;
    }
    
    &.bottom-left {
      bottom: 0;
      left: 0;
      border-right: none;
      border-top: none;
    }
    
    &.bottom-right {
      bottom: 0;
      right: 0;
      border-left: none;
      border-top: none;
    }
  }
}

.scan-text {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin: 20px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.stop-button {
  position: fixed;
  bottom: 50px;
  left: 20px;
  right: 20px;
  z-index: 10000;
}

.result-container {
  margin-top: 20px;
}

ion-input {
  --background: #f6f6f6;
  --border-radius: 8px;
  --padding-start: 12px;
  --padding-end: 12px;
}