.pay-details-content {
  div.bank-details-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img.bank-logo {
      width: 100%;
      max-width: 200px;
      object-fit: contain;
    }

    span.bank-name {
      font-size: 20px;
    }
  }

  ion-list {
    background: transparent;
  }

  .enter-amount {
    margin: 10px 0px;

    .label {
      font-size: 0.9rem;
      font-weight: 600;
      margin: 10px;
    }

    ion-list {
      background: transparent;

      ion-item.item {
        border-radius: 25px;

        ion-label.image {
          font-size: 0.9rem;
          margin: 0px;
        }

        ion-input.input {
          text-align: right;
          font-size: 1.5rem;
          font-weight: bold;
          margin: 7px 0px;
        }

        ion-label.currency-symbol {
          font-size: 1.5rem;
          font-weight: bold;
          margin: 0px 10px;
        }
      }
    }
  }

  .wallet-details {
    border: none;

    ion-list {
      background: transparent;
    }

    ion-item {
      --background: #333333;

      border-radius: 25px;
      margin-bottom: 10px;
      transition: background 0.2s;
    }

    h2 {
      color: #ffffff;
      font-size: 15px;
      font-weight: 600;
      margin: 0px;
      padding: 8px 0px 2px 0px;
    }

    p {
      color: #bdbdbd;
      font-size: 13px;
      margin: 0px;
      padding: 0px 0px 8px 0px;
    }
  }

  .token-details-container {
    h2 {
      color: #ffffff;
      font-size: 15px;
      font-weight: 600;
      margin: 0px;
      padding: 8px 0px 2px 0px;
    }

    ion-card.token-details-card {
      margin: 5px 0px;
      border-radius: 25px;
      background: #2a2a2a;

      ion-item {
        --background: #2a2a2a;
      }

      ion-item {
        --background: #2a2a2a;
      }
    }
  }

  .powered-by {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    span {
      font-size: 16px;
    }

    img {
      margin-top: 15px;
      width: 120px;
      height: auto;
    }
  }
}
