<div class="networks-list">
  <ion-grid>
    <ion-row>
      @for (network of networks; track network;) {
      <ion-col size="12">
        <ion-list>
          <ion-item button detail="false" lines="none" (click)="selectNetwork(network)">
            <ion-avatar slot="start">
              <img [src]="'/../../../../assets/images/networks/' + network.image" />
            </ion-avatar>
            <ion-label>
              <h2>{{ network.name }}</h2>
              <p>{{ network.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</div>
