ion-toolbar.wallet-toolbar {
  padding: 5px 8px;
  --background: #1a1a1a;

  ion-button {
    color: white;
  }

  .wallet-name {
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-left: 5px;
  }

  ion-icon {
    font-size: 24px;
    color: white;
  }
}

ion-tab-bar.xterium-tab-bar {
  --color: white;
  --color-selected: #0bbab5;

  height: 70px;

  ion-tab-button {
    padding: 16px 0;

    ion-icon {
      font-size: 24px;
    }
  }
}

ion-modal.create-wallet-modal {
  --height: auto;

  .toolbar {
    padding-top: 10px;
  }

  ion-list {
    background: transparent;
    padding: 25px;
  }

  ion-item-divider {
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: -10px;

    color: #7d7d7d;
  }

  ion-item.create-wallet-new-account-item {
    --background: transparent;

    background-image: url("./../../assets/images/backgrounds/main-button.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.2s ease;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: background 0.2s;
    font-weight: 700;
  }

  ion-item.create-wallet-item {
    --background: #333333;

    border-radius: 15px;
    margin-bottom: 10px;
    transition: background 0.2s;
    font-weight: 700;
  }
}

ion-item.name-item {
  --background: #fff;
  --color: #000;
  --border-radius: 50px;
  --border-style: none;
  --border-width: 0;
  --inner-border-width: 0;
  --highlight-height: 0;

  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 20px;
  border-bottom: none !important;
  box-shadow: none !important;

  ion-label {
    font-weight: 700;
  }
}

.mnemonic-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-grid {
    max-width: 500px;
    width: 100%;
  }

  ion-col {
    padding: 3px;
  }

  ion-item.mnemonic-item {
    --background: #fff;
    --color: #000;
    --border-radius: 50px;
    --border-style: none;
    --border-width: 0;
    --inner-border-width: 0;
    --highlight-height: 0;

    border-bottom: none !important;
    box-shadow: none !important;
  }

  ion-input {
    border: none;
  }
}

.private-key-container {
  ion-item.textarea-item {
    --background: #fff;
    --color: #000;
    --border-radius: 20px;
    --border-style: none;
    --border-width: 0;
    --inner-border-width: 0;
    --highlight-height: 0;

    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 20px;
    border-bottom: none !important;
    box-shadow: none !important;

    ion-label {
      font-weight: 700;
    }
  }
}

.upload-backup-container {
  .upload-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 20px;
    border-bottom: none !important;
    box-shadow: none !important;

    .upload-label {
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      padding-left: 9px;
      padding-right: 9px;
      margin-bottom: 2px;
    }

    input[type='file'] {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 20px;
      background: #fff;
    }
  }
}

.copy-button-wrapper {
  ion-button {
    --background: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --color: white;
    --color-activated: #c2c2c2;
    --border-radius: 30px;
    --border-color: white;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 30px;
    --padding-end: 30px;

    font-size: 16px;
  }

  ion-button::part(native) {
    transition: background-size 0.2s ease;
    font-weight: 900;
  }
}

.paste-button-wrapper {
  ion-button {
    --background: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --color: white;
    --color-activated: #c2c2c2;
    --border-radius: 30px;
    --border-color: white;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 30px;
    --padding-end: 30px;

    font-size: 16px;
  }

  ion-button::part(native) {
    transition: background-size 0.2s ease;
    font-weight: 900;
  }
}
