ion-toolbar.wallet-toolbar {
  --background: #1a1a1a;
  padding: 5px 8px;

  ion-icon {
    font-size: 27px;
    color: white;
  }

  .wallet-button {
    --padding-start: 0;
    --padding-end: 0;

    img {
      display: block;
    }

    .wallet-text {
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 1.3;
    }

    .wallet-title {
      font-weight: bold;
      font-size: 15px;
      color: white;
    }

    .wallet-details {
      font-weight: 600;
      font-size: 13px;
      color: rgb(225, 225, 225);
    }
  }
}

ion-tab-bar.xterium-tab-bar {
  --color: white;
  --color-selected: #0bbab5;

  height: 70px;

  ion-tab-button {
    padding: 16px 0;

    ion-icon {
      font-size: 24px;
    }
  }
}

ion-modal.create-wallet-modal {
  --height: auto;

  .toolbar {
    padding-top: 10px;
  }

  ion-list {
    background: transparent;
    padding: 25px;
  }

  ion-item-divider {
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: -10px;

    color: #7d7d7d;
  }

  ion-item.create-wallet-new-account-item {
    --background: transparent;

    background-image: url("./../../assets/images/backgrounds/main-button.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.2s ease;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: background 0.2s;
    font-weight: 700;
  }

  ion-item.create-wallet-item {
    --background: #333333;

    border-radius: 15px;
    margin-bottom: 10px;
    transition: background 0.2s;
    font-weight: 700;
  }
}
