ion-toolbar.wallet-toolbar {
  --background: #1a1a1a;

  padding: 7px 15px;
  margin: auto;
  max-width: 960px;

  ion-icon {
    font-size: 27px;
    color: white;
  }

  .wallet-button {
    --padding-start: 0px;
    --padding-end: 0px;

    .wallet-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 8px;
      max-width: calc(100vw - 180px);
      overflow: hidden;
    }

    .wallet-title {
      font-weight: bold;
      font-size: 0.9rem;
      margin-bottom: 2px;
      color: white;
    }

    .wallet-details-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2px;
      width: 100%;
      overflow: hidden;
    }

    .wallet-name {
      font-size: 0.85rem;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-shrink: 1;
      min-width: 0;
      color: white;
    }

    .wallet-details {
      font-size: 0.85rem;
      opacity: 0.7;
      white-space: nowrap;
      flex-shrink: 0;
      color: white;
    }
  }

  .notif-btn {
    position: relative;
  }

  .notif-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 0.7rem;
    padding: 3px 6px;
    border-radius: 50%;
  }
}

ion-tabs {
  margin: auto;
  max-width: 960px;

  ion-tab-bar.xterium-tab-bar {
    --color: white;
    --color-selected: #0bbab5;

    height: 70px;

    ion-tab-button {
      padding: 16px 0;

      ion-icon {
        font-size: 24px;
      }
    }
  }
}

ion-modal.create-wallet-modal {
  --height: auto;

  ion-list {
    background: transparent;
    padding-bottom: 20px;

    ion-item.create-wallet-new-account-item {
      --background: transparent;

      background-image: url("./../../assets/images/backgrounds/main-button.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      transition: background-size 0.2s ease;
      border-radius: 1.5rem;
      margin-bottom: 10px;
      transition: background 0.2s;
      font-weight: 600;
    }

    ion-item.create-wallet-item {
      --background: #333333;

      border-radius: 1.5rem;
      margin-bottom: 10px;
      transition: background 0.2s;
      font-weight: 600;
    }

    ion-item-divider {
      margin-top: 25px;
      margin-bottom: 12px;
      margin-left: -10px;

      color: #7d7d7d;
    }
  }
}

ion-modal.select-network-metadata-modal {
  --height: auto;
}


