<ion-content [fullscreen]="true" class="xterium-content">
  <ion-toolbar class="wallet-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" class="wallet-button" (click)="openMyWalletsModal()">
        <img src="./../../assets/icon/xterium-logo.png" height="40" />
        <div class="wallet-text">
          <span class="wallet-title">XTERIUM</span>
          <span class="wallet-details">{{currentWallet.name | slice:0:20}}
            ({{currentWalletPublicAddress === '' ? "Loading..." : truncateAddress(currentWalletPublicAddress)}})</span>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openSettingsModal()">
        <ion-icon name="settings-outline" size=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-tabs>
    <ion-tab-bar slot="bottom" class="xterium-tab-bar">
      <ion-tab-button tab="balances">
        <ion-icon name="briefcase"></ion-icon>
        Portfolio
      </ion-tab-button>
      <ion-tab-button tab="swap">
        <ion-icon name="swap-horizontal"></ion-icon>
        Swap
      </ion-tab-button>
      <ion-tab-button tab="pay" class="qr-pay">
        <ion-icon name="qr-code"></ion-icon>
        Pay
      </ion-tab-button>
      <ion-tab-button tab="transaction-history">
        <ion-icon name="timer"></ion-icon>
        History
      </ion-tab-button>
      <ion-tab-button tab="explore">
        <ion-icon name="compass"></ion-icon>
        Explore
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-modal #myWalletsModal class="my-wallets" [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
    [expandToScroll]="false">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-buttons slot="start">
          <ion-button (click)="openCreateWalletModal()">
            <ion-icon name="add-circle" style="color: white;"></ion-icon>
            <span style="margin-left: 4px; color: white;">Create</span>
          </ion-button>

          <ion-modal #createWalletModal class="create-wallet-modal" [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
            [expandToScroll]="false">
            <ng-template>
              <ion-toolbar class="main-modal-toolbar">
                <ion-title>Create Wallet</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="createWalletModal.dismiss()">
                    <ion-icon name="close" style="color: white;"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
              <div class="ion-padding-horizontal">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item class="primary-select-button-item ion-margin-bottom" (click)="openSelectNetworkModal()">
                        @if (selectedNetwork) {
                        <ion-avatar slot="start" style="padding: 3px; margin-right: 7px;">
                          <img [src]="'./../../assets/images/networks/' + selectedNetwork.image" alt="Network Logo" />
                        </ion-avatar>
                        }
                        <ion-label>{{ selectedNetwork.name || 'Select Network' }}</ion-label>
                        <ion-button size="small" fill="clear">
                          <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
                        </ion-button>

                        <ion-modal #selectNetworkModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
                          [expandToScroll]="false">
                          <ng-template>
                            <ion-toolbar class="main-modal-toolbar">
                              <ion-title>Select Network</ion-title>
                              <ion-buttons slot="end">
                                <ion-button (click)="selectNetworkModal.dismiss()">
                                  <ion-icon name="close" style="color: white;"></ion-icon>
                                </ion-button>
                              </ion-buttons>
                            </ion-toolbar>
                            <ion-content>
                              <div class="ion-padding-horizontal">
                                <app-networks (onSelectedNetwork)="onSelectedNetwork($event)"></app-networks>
                              </div>
                            </ion-content>
                          </ng-template>
                        </ion-modal>
                      </ion-item>
                      <ion-item button detail="false" lines="none" class="create-wallet-new-account-item"
                        (click)="openCreateNewAccountModal()">
                        New Account
                      </ion-item>
                      <ion-item-divider>
                        <ion-label>Import Options</ion-label>
                      </ion-item-divider>
                      <ion-item button lines="none" class="create-wallet-item" (click)="openImportSeedPhraseModal()">
                        Import account from pre-existing seed
                      </ion-item>
                      <ion-item button lines="none" class="create-wallet-item" (click)="openImportPrivateKeyModal()">
                        Import using private key
                      </ion-item>
                      <ion-item button lines="none" class="create-wallet-item" (click)="openImportFromBackupModal()">
                        Restore account from a backup file
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>

              <ion-modal #createNewAccountModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
                [expandToScroll]="false">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>New Account</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="createNewAccountModal.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom">
                      <h1 style="font-weight: bold">Recovery Phrase</h1>
                      <span style="font-size: 15px;">Write down this mnemonic phrase and store it securely. It will be
                        required to restore your
                        wallet.</span>
                    </div>

                    <div class="ion-padding-horizontal">
                      <app-new-wallet [selectedNetwork]="selectedNetwork"
                        (onCreatedWallet)="onCreatedWallet($event)"></app-new-wallet>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <ion-modal #importSeedPhraseModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
                [expandToScroll]="false">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>Import</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="importSeedPhraseModal.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom">
                      <h1 style="font-weight: bold">Import Seed Phrase</h1>
                      <span style="font-size: 15px;">Restore an existing wallet with your 12-word recovery
                        phrase.</span>
                    </div>

                    <div class="ion-padding-horizontal">
                      <app-import-seed-phrase [selectedNetwork]="selectedNetwork"
                        (onImportedWallet)="onImportWalletSeedPhrase($event)"></app-import-seed-phrase>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <ion-modal #importPrivateKeyModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
                [expandToScroll]="false">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>Import</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="importPrivateKeyModal.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom">
                      <h1 style="font-weight: bold">Import Private Key</h1>
                      <span style="font-size: 15px;">Restore an existing wallet with your private key.</span>
                    </div>

                    <div class="ion-padding-horizontal">
                      <app-import-private-key [selectedNetwork]="selectedNetwork"
                        (onImportedWallet)="onImportWalletPrivateKey($event)"></app-import-private-key>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <ion-modal #importFromBackupModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
                [expandToScroll]="false">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>Import</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="importFromBackupModal.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom">
                      <h1 style="font-weight: bold">Import From Backup</h1>
                      <span style="font-size: 15px;">Restore a wallet from your backup files. </span>
                    </div>

                    <div class="ion-padding-horizontal">
                      <app-import-from-backup [selectedNetwork]="selectedNetwork"
                        (onImportedWallet)="onImportWalletFromBackup($event)"></app-import-from-backup>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ng-template>
          </ion-modal>
        </ion-buttons>
        <ion-title>Wallets</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="myWalletsModal.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <div class="ion-padding-horizontal">
          <app-wallets [newlyAddedWallet]="newlyAddedWallet" (onFilteredNetwork)="onFilteredNetwork($event)"
            (onSetCurrentWallet)="onSetCurrentWallet($event)"></app-wallets>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #settingsModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]" [expandToScroll]="false">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>Settings</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="settingsModal.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
