.wallet-toolbar {
  padding: 5px 8px;
  --background: #1a1a1a;

  ion-button {
    color: white;
  }

  .wallet-name {
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-left: 5px;
  }

  ion-icon {
    font-size: 24px;
    color: white;
  }
}

ion-tab-bar {
  --color: white;
  --color-selected: #0bbab5;

  height: 70px;
}

ion-tab-button {
  padding: 16px 0;

  ion-icon {
    font-size: 24px;
  }
}

.create-wallet-modal {
  --height: auto;

  .toolbar {
    padding-top: 10px;
  }

  ion-list {
    background: transparent;
    padding: 25px;
  }

  ion-item-divider {
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: -10px;

    color: #7d7d7d;
  }

  .create-wallet-new-account-item {
    --background: transparent;

    margin-bottom: 10px;
    transition: background 0.2s;
    font-weight: 700;
    background-image: url("./../../assets/images/backgrounds/main-button.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    transition: background-size 0.2s ease;
  }

  .create-wallet-item {
    --background: #333333;

    border-radius: 15px;
    margin-bottom: 10px;
    transition: background 0.2s;
    font-weight: 700;
  }
}
