<ion-content [fullscreen]="true" class="xterium-content">
  <ion-toolbar class="wallet-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" class="wallet-button" id="my-wallets">
        <img src="./../../assets/icon/xterium-logo.png" height="30" />
        <span class="wallet-name">My Wallet</span>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" id="settings">
        <ion-icon name="settings-outline" size=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-tabs>
    <ion-tab-bar slot="bottom" class="xterium-tab-bar">
      <ion-tab-button tab="balances">
        <ion-icon name="briefcase"></ion-icon>
        Assets
      </ion-tab-button>
      <ion-tab-button tab="swap">
        <ion-icon name="swap-horizontal"></ion-icon>
        Swap
      </ion-tab-button>
      <ion-tab-button tab="pay" class="qr-pay">
        <ion-icon name="qr-code"></ion-icon>
        Pay
      </ion-tab-button>
      <ion-tab-button tab="transaction-history">
        <ion-icon name="timer"></ion-icon>
        History
      </ion-tab-button>
      <ion-tab-button tab="explore">
        <ion-icon name="compass"></ion-icon>
        Explore
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-modal #myWallets trigger="my-wallets" class="my-wallets" [presentingElement]="mainPresentingElement">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-buttons slot="start">
          <ion-button id="create-wallet">
            <ion-icon name="add-circle" style="color: white;"></ion-icon>
            <span style="margin-left: 4px; color: white;">Create</span>
          </ion-button>

          <ion-modal #createWallet trigger="create-wallet" class="create-wallet-modal" [initialBreakpoint]="1"
            [breakpoints]="[0, 1]">
            <ng-template>
              <ion-toolbar class="main-modal-toolbar toolbar">
                <ion-title>Create Wallet</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="createWallet.dismiss()">
                    <ion-icon name="close" style="color: white;"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
              <ion-list>
                <ion-item button detail="false" lines="none" class="create-wallet-new-account-item"
                  id="create-new-account">
                  New Account
                </ion-item>
                <ion-item-divider>
                  <ion-label>Import Options</ion-label>
                </ion-item-divider>
                <ion-item button lines="none" class="create-wallet-item" id="import-seed-phrase">
                  Import account from pre-existing seed
                </ion-item>
                <ion-item button lines="none" class="create-wallet-item" id="import-private-key">
                  Import using private key
                </ion-item>
                <ion-item button lines="none" class="create-wallet-item" id="import-from-backup">
                  Restore account from a backup file
                </ion-item>
              </ion-list>

              <ion-modal #createNewAccount trigger="create-new-account"
                [presentingElement]="myWalletsPresentingElement">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>New Account</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="createNewAccount.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-text-center ion-padding">
                      <h1 style="font-weight: bold">Recovery Phrase</h1>
                      <span>Write down this mnemonic phrase and store it securely. It will be required to restore your
                        wallet.</span>
                    </div>
                    <app-new-wallet></app-new-wallet>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <ion-modal #importSeedPhrase trigger="import-seed-phrase"
                [presentingElement]="myWalletsPresentingElement">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>Import</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="importSeedPhrase.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-text-center ion-padding">
                      <h1 style="font-weight: bold">Import Seed Phrase</h1>
                      <span>Restore an existing wallet with your 12-word recovery phrase.</span>
                    </div>
                    <app-import-seed-phrase></app-import-seed-phrase>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <ion-modal #importPrivateKey trigger="import-private-key"
                [presentingElement]="myWalletsPresentingElement">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>Import</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="importPrivateKey.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-text-center ion-padding">
                      <h1 style="font-weight: bold">Import Private Key</h1>
                      <span>Restore an existing wallet with your private key.</span>
                    </div>
                    <app-import-private-key></app-import-private-key>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <ion-modal #importFromBackup trigger="import-from-backup"
                [presentingElement]="myWalletsPresentingElement">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>Import</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="importFromBackup.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-text-center ion-padding">
                      <h1 style="font-weight: bold">Import From Backup</h1>
                      <span>Restore a wallet from your backup files. </span>
                    </div>
                    <app-import-from-backup></app-import-from-backup>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ng-template>
          </ion-modal>
        </ion-buttons>
        <ion-title>Wallets</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="myWallets.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <app-wallets></app-wallets>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #settings trigger="settings" [presentingElement]="mainPresentingElement">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>Settings</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="settings.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
