<div class="parent-page-content">
  <ion-toolbar class="wallet-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" class="wallet-button" (click)="openMyWalletsModal()">
        <img src="./../../assets/icon/xterium-logo.png" height="40" />
        <div class="wallet-text">
          <span class="wallet-title">XTERIUM</span>
          <div class="wallet-details-container">
            <span class="wallet-name">
              {{currentWallet.name}}
            </span>
            <span class="wallet-details">
              ({{currentWalletPublicAddress === '' ? "Loading..." :
              truncateAddress(currentWalletPublicAddress)}})
            </span>
          </div>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openNotificationsModal()" class="notif-btn">
        <ion-icon name="notifications-outline"></ion-icon>

        @if (unopenNotifications > 0) {
        <ion-badge color="danger" class="notif-badge">
          {{ unopenNotifications }}
        </ion-badge>
        }
      </ion-button>
      <ion-button fill="clear" (click)="openSettingsModal()">
        <ion-icon name="settings-outline" size=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-tabs>
    <ion-tab-bar slot="bottom" class="xterium-tab-bar">
      <ion-tab-button tab="balances">
        <ion-icon name="briefcase"></ion-icon>
        {{ 'Portfolio' | translate }}
      </ion-tab-button>
      <ion-tab-button tab="swap">
        <ion-icon name="swap-horizontal"></ion-icon>
        {{ 'Swap' | translate }}
      </ion-tab-button>
      <ion-tab-button tab="pay" class="qr-pay">
        <ion-icon name="qr-code"></ion-icon>
        {{ 'Pay' | translate }}
      </ion-tab-button>
      <ion-tab-button tab="transaction-history">
        <ion-icon name="timer"></ion-icon>
        {{ 'History' | translate }}
      </ion-tab-button>
      <ion-tab-button tab="explore">
        <ion-icon name="compass"></ion-icon>
        {{ 'Explore' | translate }}
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-modal #myWalletsModal class="my-wallets" [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
    [expandToScroll]="false">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-buttons slot="start">
          <ion-button (click)="openCreateWalletModal()">
            <ion-icon name="add-circle" style="color: white;"></ion-icon>
            <span style="margin-left: 4px; color: white;">{{ 'Create' | translate }}</span>
          </ion-button>

          <ion-modal #createWalletModal class="create-wallet-modal" [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
            [expandToScroll]="false">
            <ng-template>
              <ion-toolbar class="main-modal-toolbar">
                <ion-title>{{ 'Create Wallet' | translate }}</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="createWalletModal.dismiss()">
                    <ion-icon name="close" style="color: white;"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>

              <div class="ion-padding-horizontal">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <ion-list>
                        <ion-item class="primary-select-button-item ion-margin-bottom" (click)="openSelectChainModal()">
                          @if (selectedChain) {
                          <ion-avatar slot="start" style="padding: 3px; margin-right: 7px;">
                            <img [src]="'./../../assets/images/chains/' + selectedChain.image" alt="Chain Logo" />
                          </ion-avatar>
                          }
                          <ion-label>{{ selectedChain.name || 'Select Chain' }}</ion-label>
                          <ion-button size="small" fill="clear">
                            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
                          </ion-button>

                          <ion-modal #selectChainModal class="select-chain-modal" [initialBreakpoint]="0.98"
                            [breakpoints]="[0, 0.98]" [expandToScroll]="false">
                            <ng-template>
                              <ion-toolbar class="main-modal-toolbar">
                                <ion-title>{{ 'Select Network' | translate }}</ion-title>
                                <ion-buttons slot="end">
                                  <ion-button (click)="selectChainModal.dismiss()">
                                    <ion-icon name="close" style="color: white;"></ion-icon>
                                  </ion-button>
                                </ion-buttons>
                              </ion-toolbar>
                              <ion-content>
                                <app-chains (onSelectedChain)="onSelectedChain($event)"></app-chains>
                              </ion-content>
                            </ng-template>
                          </ion-modal>
                        </ion-item>
                        <ion-item button detail="false" lines="none" class="create-wallet-new-account-item"
                          (click)="openCreateNewAccountModal()">
                          {{ 'New Account' | translate }}
                        </ion-item>
                        <ion-item-divider>
                          <ion-label>{{ 'Import or Restore from:' | translate }}</ion-label>
                        </ion-item-divider>
                        <ion-item button lines="none" class="create-wallet-item" (click)="openImportSeedPhraseModal()">
                          {{ 'Pre-existing Seed' | translate }}
                        </ion-item>
                        <ion-item button lines="none" class="create-wallet-item" (click)="openImportFromBackupModal()">
                          {{ 'Backup JSON File' | translate }}
                        </ion-item>
                      </ion-list>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>

              <ion-modal #createNewAccountModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
                [expandToScroll]="false">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>{{ 'New Account' | translate }}</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="createNewAccountModal.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-padding-horizontal">
                      <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom">
                        <h1 style="font-weight: bold;">{{ 'Recovery Phrase' | translate }}</h1>
                        <span style="font-size: 15px;">{{ 'Write down this mnemonic phrase and store it securely. It
                          will be required to restore your wallet.' | translate }}</span>
                      </div>

                      <app-new-wallet (onCreatedWallet)="onCreatedWallet($event)"></app-new-wallet>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <ion-modal #importSeedPhraseModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
                [expandToScroll]="false">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>{{ 'Import' | translate }}</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="importSeedPhraseModal.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-padding-horizontal">
                      <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom">
                        <h1 style="font-weight: bold;">{{ 'Import Seed Phrase' | translate }}</h1>
                        <span style="font-size: 15px;">{{ 'Restore an existing wallet with your 12-word recovery
                          phrase.' | translate }}</span>
                      </div>

                      <app-import-seed-phrase
                        (onImportedWallet)="onImportWalletSeedPhrase($event)"></app-import-seed-phrase>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <ion-modal #importFromBackupModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
                [expandToScroll]="false">
                <ng-template>
                  <ion-toolbar class="main-modal-toolbar">
                    <ion-title>{{ 'Import' | translate }}</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="importFromBackupModal.dismiss()">
                        <ion-icon name="close" style="color: white;"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-content>
                    <div class="ion-padding-horizontal">
                      <div class="ion-text-center ion-padding-start ion-padding-end ion-padding-bottom">
                        <h1 style="font-weight: bold;">{{ 'Import From Backup' | translate }}</h1>
                        <span style="font-size: 15px;">{{ 'Restore a wallet from your backup files.' | translate }}
                        </span>
                      </div>

                      <app-import-from-backup
                        (onImportedWallet)="onImportWalletFromBackup($event)"></app-import-from-backup>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ng-template>
          </ion-modal>
        </ion-buttons>
        <ion-title>{{ 'Wallets' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="myWalletsModal.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <app-wallets [newlyAddedWallet]="newlyAddedWallet" (onSetCurrentWallet)="onSetCurrentWallet($event)"
          (onFilteredChain)="onFilteredChain($event)"></app-wallets>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #notificationsModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]" [expandToScroll]="false">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>{{ 'Notifications' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="notificationsModal.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <app-notifications (onOpenNotification)="openNotificationsModal()"></app-notifications>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #settingsModal class="settings-list" [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
    [expandToScroll]="false">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>{{ 'Settings' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="settingsModal.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <app-settings></app-settings>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
