.language-list {
    border: none;
  
    ion-list {
      background: transparent;
    }
  
    ion-item {
      --background: #333333;
  
      border-radius: 25px;
      transition: background 0.2s;
    }
  
    ion-label h2 {
      color: #ffffff !important;
      margin-left: 5px;
    }
    
    p {
      color: #b9b8b8 !important;
      margin-left: 5px;
    }
  }