.balances-content {
  .tokens-list {
    border: none;
    padding: 0px 8px;
  }

  ion-col {
    .token-list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 5px 0px 5px;

      ion-toggle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      h3 {
        color: white;
        font-size: 17px;
        font-weight: 600;
        margin: 0;
      }

      a {
        font-size: 17px;
        font-weight: 600;
        color: #00bcd4;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
