.balances-content {
  ion-col {
    .token-list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 5px 0px 5px;

      h3 {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 600;
        margin: 0;
      }

      a {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 600;
        color: #00bcd4;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
