.balances-content {
  .tokens-list {
    border: none;
  }

  .token-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 10px;
    padding: 0px 25px;

    h3 {
      color: white;
      font-size: 17px;
      font-weight: 600;
      margin: 0;
    }

    a {
      font-size: 17px;
      font-weight: 600;
      color: #00bcd4;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
