<ion-content [fullscreen]="true" class="balances-content">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="130" [pullMax]="300" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="ion-text-center total-balance">
    <h1>$6,290.00</h1>
  </div>

  <div class="ion-padding-horizontal">
    <ion-grid>
      <ion-row class="token-action-buttons">
        <ion-col size="4" class="ion-text-center">
          <ion-button fill="clear" class="icon-button" expand="block" id="balances-receive">
            <div class="button-content">
              <ion-icon name="qr-code"></ion-icon>
              <span class="label">Receive</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button fill="clear" class="icon-button" expand="block" id="balances-select-token">
            <div class="button-content">
              <ion-icon name="send"></ion-icon>
              <span class="label">Send</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button fill="clear" class="icon-button" expand="block" (click)="goToSwap()">
            <div class="button-content">
              <ion-icon name="swap-horizontal"></ion-icon>
              <span class="label">Swap</span>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="token-list-header">
            <h3>Tokens</h3>
            <a id="manage-tokens">Manage</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-tokens></app-tokens>
  </div>

  <ion-modal #balancesRceive trigger="balances-receive" [presentingElement]="mainPresentingElement">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>Receive</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="balancesRceive.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <div class="ion-padding-horizontal">
          <app-receive></app-receive>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #balancesSelectToken trigger="balances-select-token" [presentingElement]="mainPresentingElement">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>Select Token</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="balancesSelectToken.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <div class="ion-padding-horizontal">
          <app-tokens></app-tokens>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #balancesSend trigger="balances-send" [presentingElement]="mainPresentingElement">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>Send</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="balancesSend.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <div class="ion-text-center ion-padding">

        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #manageTokens trigger="manage-tokens" [presentingElement]="mainPresentingElement">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>Manage Tokens</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="manageTokens.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <div class="ion-text-center ion-padding">

        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
