.balances-content {
  .tokens-list {
    border: none;
  }

  ion-col {
    .token-list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0px 0px 0px;
      
      h3 {
        color: white;
        font-size: 17px;
        font-weight: 600;
        margin: 0;
      }

      a {
        font-size: 17px;
        font-weight: 600;
        color: #00bcd4;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
