.total-balance h1 {
  font-weight: 700;
  font-size: 42px;
  margin-top: 80px;
  color: #ffffff;
}

.token-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px 30px 0px 30px;

  h3 {
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin: 0;
  }

  a {
    font-size: 17px;
    font-weight: 700;
    color: #00bcd4;
    cursor: pointer;
    text-decoration: none;
  }
}
