.wallets-list {
  ion-list {
    background: transparent;

    ion-item.wallet-item {
      --background: #333333;
      border: 3px solid #333333;
      border-radius: 25px;
      transition: background 0.2s;
      align-items: center;
      margin-bottom: 10px;
      padding: 0;
    }
  }

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding: 2px 0px 0px 0px;
  }

  p {
    color: #bdbdbd;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 5px 0px;
  }
}

.enter-old-pin {
  .logo {
    margin-top: 20px;
    height: 80px;
  }

  ion-list {
    background: transparent;

    ion-item.pin-item {
      --background: transparent;
      --padding-top: 0px;
      --padding-bottom: 0px;
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-start: 0px;
      --inner-padding-end: 0px;

      margin-bottom: 10px;

      .pin-input-wrapper {
        width: 100%;
      }

      .input-otp-fill-solid.pin-input {
        --border-color: #777777;
        --highlight-color-focused: #0bbab5;
        --border-radius: 20px;

        font-weight: bold;
      }
    }
  }

  .security-tips {
    color: var(--ion-color-medium);

    ion-icon {
      margin-right: 8px;
      color: var(--ion-color-success);
    }
  }
}
