<ion-content [fullscreen]="true" class="web3-fees-page">
  <div class="ion-text-center">
    <img alt="xterium" src="./../../../assets/icon/xterium-logo.png" class="logo" />
  </div>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center" style="margin-top: -75px;">
            <h1 style="font-weight: bold">
              Authorize Transaction
            </h1>
            <span style="font-size: 15px;">Please review before confirming your transaction</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center ion-margin-top">
            <ion-chip [color]="'success'">
              <ion-icon [name]="'cube'"></ion-icon>
              <ion-label>{{ extrinsic }}</ion-label>
            </ion-chip>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="payload-container">
            <ion-card class="transaction-card">
              <ion-item lines="none">
                <ion-label>
                  <strong>Transaction Status:</strong>
                </ion-label>
                <ion-chip color="secondary" slot="end">
                  <ion-label>Queued</ion-label>
                </ion-chip>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="arrow-up-outline" size="small" slot="start"></ion-icon>
                <ion-label>From:</ion-label>
                <ion-text slot="end" class="label-value">
                  {{ truncateAddress(currentWalletPublicAddress) }}
                </ion-text>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="globe-outline" size="small" slot="start"></ion-icon>
                <ion-label>Network:</ion-label>
                <ion-text slot="end" class="label-value">
                  {{ currentNetwork.name }}
                </ion-text>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="flame" size="small" slot="start"></ion-icon>
                <ion-label>Estimated Fee:</ion-label>
                <ion-text slot="end" class="label-value">
                  @if (isLoadingFee) {
                  <div class="fee-loading">
                    <ion-spinner name="crescent"></ion-spinner>
                  </div>
                  }
                  @else {
                  {{ formatBalance(estimatedFee, currentNetwork.decimal).toFixed(5) }} {{ currentNetwork.unit }}
                  }
                </ion-text>
              </ion-item>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="ion-padding-horizontal">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="primary-button-wrapper">
            <ion-button expand="block" size="default" class="ion-margin-bottom" (click)="confirmTransaction()">
              Confirm
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="primary-button-wrapper">
            <ion-button expand="block" size="default" class="ion-margin-bottom danger-button"
              (click)="cancelTransaction()">
              Cancel
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>
