.back-button {
  --color: white;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 18px;
  --padding-end: 18px;

  position: absolute;
  z-index: 100;
  font-size: 24px;
}

ion-item.name-item {
  --background: #fff;
  --color: #000;
  --border-radius: 50px;
  --border-style: none;
  --border-width: 0;
  --inner-border-width: 0;
  --highlight-height: 0;

  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 20px;
  border-bottom: none !important;
  box-shadow: none !important;

  ion-label {
    font-weight: 700;
  }
}

.mnemonic-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-grid {
    max-width: 500px;
    width: 100%;
  }

  ion-col {
    padding: 3px;
  }

  ion-item.mnemonic-item {
    --background: #fff;
    --color: #000;
    --border-radius: 50px;
    --border-style: none;
    --border-width: 0;
    --inner-border-width: 0;
    --highlight-height: 0;

    border-bottom: none !important;
    box-shadow: none !important;
  }

  ion-input {
    border: none;
  }
}

.private-key-container {
  ion-item.textarea-item {
    --background: #fff;
    --color: #000;
    --border-radius: 20px;
    --border-style: none;
    --border-width: 0;
    --inner-border-width: 0;
    --highlight-height: 0;

    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 20px;
    border-bottom: none !important;
    box-shadow: none !important;

    ion-label {
      font-weight: 700;
    }
  }
}

.upload-backup-container {
  .upload-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 20px;
    border-bottom: none !important;
    box-shadow: none !important;

    .upload-label {
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      padding-left: 9px;
      padding-right: 9px;
      margin-bottom: 2px;
    }

    input[type='file'] {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 20px;
      background: #fff;
    }
  }
}

.paste-button-wrapper {
  ion-button {
    --background: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --color: white;
    --color-activated: #c2c2c2;
    --border-radius: 30px;
    --border-color: white;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 30px;
    --padding-end: 30px;

    font-size: 16px;
  }

  ion-button::part(native) {
    transition: background-size 0.2s ease;
    font-weight: 900;
  }
}
