.coming-soon-container {
  text-align: center;
  margin-top: 40%;
  color: #666;

  .coming-soon-icon {
    font-size: 60px;
    color: #0bbab5;
    margin-bottom: 10px;
  }

  h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    color: #888;
  }
}