  .currency-list {
    border: none;
  
    ion-list {
      background: transparent;
    }
  
    ion-item {
      --background: #333333;
  
      border-radius: 25px;
      transition: background 0.2s;
    }
  
    ion-label h2 {
      color: #ffffff !important;
    }

    p {
      color: #b9b8b8 !important;
    }
  }

  .currency-symbol {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    font-weight: normal;
    color: #b9b8b8;
    border: 2px solid #4c4a4b;
  }