<div class="send-details">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="token-title ion-text-center">
          <img [src]="balance.token.image" height="60" />
          <ion-label>
            <h1>{{ balance.token.name }}</h1>
            <p>{{ balance.token.symbol }}</p>
          </ion-label>
          @if (balance.status === 'Frozen') {
          <ion-chip color="warning" style="padding: 10px 10px;">
            <ion-icon name="snow-outline"
              style="color: white; background: var(--ion-color-secondary); border-radius: 50%; padding: 2px; margin-right: 5px;">
            </ion-icon>
            {{ 'This token is currently frozen and cannot be sent.' | translate }}
          </ion-chip>
          }
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item class="primary-textarea-item" lines="none">
            <ion-label position="stacked">{{ 'Recipient\'s Wallet Address:' | translate }}</ion-label>
            <ion-textarea rows="3" placeholder="" [(ngModel)]="recipientAddress"></ion-textarea>
          </ion-item>
          <!-- <ion-item class="primary-select-button-item" (click)="openSelectChainModal()">
            <ion-label style="font-size: 15px;">{{ 'Destination' | translate }}</ion-label>
            <ion-label slot="end">{{ selectedChain.name || 'Select Chain' }}</ion-label>
            <ion-avatar slot="end" style="padding: 2px; margin-right: 0;">
              <img [src]="'./../../assets/images/chains/' + selectedChain.image" alt="Chain Logo" />
            </ion-avatar>

            <ion-modal #selectChainModal [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]" [expandToScroll]="false">
              <ng-template>
                <ion-toolbar class="main-modal-toolbar">
                  <ion-title>{{ 'Destination Chain' | translate }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="selectChainModal.dismiss()">
                      <ion-icon name="close" style="color: white;"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
                <ion-content>
                  <div class="modal-content-container">
                    <app-chains [isAllChainIncluded]="false" (onSelectedChain)="onSelectedChain($event)"></app-chains>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item> -->
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="primary-button-wrapper ion-text-left">
          <ion-button expand="block" size="default" class="ion-margin-bottom" (click)="pasteFromClipboard()">
            <ion-icon name="clipboard-outline" slot="start" [size]="'small'"></ion-icon>
            {{ 'PASTE' | translate }}
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="primary-button-wrapper ion-text-left">
          <ion-button expand="block" size="default" class="ion-margin-bottom" (click)="scan()">
            <ion-icon name="scan-outline" slot="start" [size]="'small'"></ion-icon>
            {{ 'SCAN' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="enter-amount">
        <div class="ion-text-left label">
          <ion-label>{{ 'Amount:' | translate }}</ion-label>
        </div>
        <ion-list>
          <ion-item class="primary-input-item item" lines="none">
            <ion-input type="text" inputmode="decimal" [value]="formattedAmountValue" (ionFocus)="onAmountFocus($event)"
              (ionInput)="onAmountInput($event)" (ionBlur)="onAmountBlur()" (keydown)="onAmountKeyDown($event)"
              class="input" placeholder="0">
              <ion-label slot="start" class="image">
                <ion-avatar slot="start" style="padding: 3px;">
                  <img [src]="balance.token.image" height="60" />
                </ion-avatar>
              </ion-label>
              <ion-label slot="end" class="token-symbol">{{ balance.token.symbol }}</ion-label>
            </ion-input>
          </ion-item>
        </ion-list>
        <div class="ion-text-right available-balance">
          <span>
            {{ 'Balance:' | translate }}
            <b>{{ formatBalanceWithSuffix(balance.quantity, balance.token.decimals) }}</b>
            {{ balance.token.symbol }}
          </span>
        </div>
        <div class="ion-text-center percentage-buttons">
          <ion-button fill="solid" size="small" (click)="fillAmount(25)">25%</ion-button>
          <ion-button fill="solid" size="small" (click)="fillAmount(50)">50%</ion-button>
          <ion-button fill="solid" size="small" (click)="fillAmount(75)">75%</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <div class="primary-button-wrapper">
          <ion-button expand="block" size="default" class="ion-margin-bottom" (click)="send()"
            [disabled]="isProcessing || balance.status === 'Frozen'">
            {{ 'SEND' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toast [duration]="5000"></ion-toast>
</div>
