.send-details {
  .token-title {
    img {
      margin-bottom: 5px;
    }

    h1 {
      color: #ffffff;
      font-size: 20px;
      font-weight: 600;
      margin: 0px;
    }

    p {
      color: #bdbdbd;
      font-size: 17px;
      margin-bottom: 20px;
    }
  }

  ion-list {
    background: transparent;
  }

  .enter-amount {
    .label {
      font-size: 0.9rem;
      font-weight: 600;
      margin: 10px;
    }

    ion-list {
      background: transparent;

      ion-item.item {
        border-radius: 25px;

        ion-label.image {
          font-size: 0.9rem;
          margin: 0px;
        }

        ion-input.input {
          text-align: right;
          font-size: 1.5rem;
          font-weight: 600;
          margin: 7px 0px;
        }

        ion-label.token-symbol {
          font-size: 0.9rem;
          font-weight: 200;
          margin: 0px 10px;
        }
      }
    }

    .available-balance {
      font-size: 0.9rem;
      margin: 10px 10px 25px 10px;
    }

    .percentage-buttons {
      ion-button {
        --background: #333333;
        --background-hover: #333333;
        --background-activated: #333333;
        --background-focused: #333333;
        --color: white;
        --color-activated: #c2c2c2;
        --border-radius: 25px;
        --padding-top: 15px;
        --padding-bottom: 15px;
        --padding-start: 20px;
        --padding-end: 20px;

        font-size: 15px;
      }
    }
  }
}
