<div class="chains-list">
  <ion-grid class="chains-grid">
    <div class="network-metadata-label">
      @if (selectedNetworkMetadata.network === 'Polkadot') {
      <ion-chip [color]="'primary'">
        <img [src]="'/assets/images/networks/' + selectedNetworkMetadata.image"
          alt="{{ selectedNetworkMetadata.network }}" height="20" />
        &nbsp; {{ selectedNetworkMetadata.network }}
      </ion-chip>
      }

      @if (selectedNetworkMetadata.network === 'Paseo') {
      <ion-chip [color]="'secondary'">
        <img [src]="'/assets/images/networks/' + selectedNetworkMetadata.image"
          alt="{{ selectedNetworkMetadata.network }}" height="20" />
        &nbsp; {{ selectedNetworkMetadata.network }}
      </ion-chip>
      }

      @if (selectedNetworkMetadata.network === 'Rococo') {
      <ion-chip [color]="'warning'">
        <img [src]="'/assets/images/networks/' + selectedNetworkMetadata.image"
          alt="{{ selectedNetworkMetadata.network }}" height="20" />
        &nbsp; {{ selectedNetworkMetadata.network }}
      </ion-chip>
      }
    </div>
    <ion-row>
      @for (chain of chains; track chain) {
      <ion-col size="12">
        <ion-list>
          <ion-item button detail="false" lines="none" (click)="selectChain(chain)">
            <ion-avatar slot="start">
              <img [src]="'/../../../../assets/images/chains/' + chain.image" />
            </ion-avatar>
            <ion-label>
              <h2>{{ chain.name }}</h2>
              <p>{{ chain.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</div>
