<div class="chains-list">
  <ion-grid class="chains-grid">
    <ion-row>
      @for (chain of chains; track chain) {
      <ion-col size="12">
        <ion-list>
          <ion-item button detail="false" lines="none" (click)="selectChain(chain)">
            <ion-avatar slot="start">
              <img [src]="'/../../../../assets/images/chains/' + chain.image" />
            </ion-avatar>
            <ion-label>
              <h2>{{ chain.name }}</h2>
              <p>{{ chain.description }}</p>
              @if (chain.network.toString().toLocaleLowerCase() !== 'all networks' && chain.network !== 'Polkadot') {
              <div style="margin-top: -5px;">
                <ion-chip [color]="'warning'">
                  <img [src]="'/assets/images/networks/' + chain.network.toString().toLocaleLowerCase() + '.png'"
                    alt="{{ chain.network }}" height="17" />
                  &nbsp; {{ chain.network }}
                </ion-chip>
              </div>
              }
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</div>
