.chains-list {
  border: none;
  padding: 0px 8px;

  .network-metadata-label {
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #c7c7c7;
  }

  ion-grid.chains-grid {
    margin-top: -10px;
    margin-bottom: 5px;
  }

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: #333333;

    border-radius: 1.5rem;
    transition: background 0.2s;

  }

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding: 8px 0px 2px 0px;
  }

  p {
    color: #bdbdbd;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 8px 0px;
  }
}

ion-modal.select-network-metadata-modal {
  --height: auto;
}
