<ion-content [fullscreen]="true" class="auth-content">
  <div class="login-container">
    <div class="app-header"></div>

    @if (isMobile) {
    <div class="biometric-promo">
      <div class="biometric-icon-container">
        <ion-icon name="finger-print" class="biometric-icon"></ion-icon>
      </div>

      @if (!biometricAvailable) {
      <div class="biometric-unavailable">
        <p class="unavailable-text">
          Biometric authentication is not available on this device
        </p>
      </div>
      }

      <div class="primary-button-wrapper">
        <ion-button
          expand="block"
          class="ion-margin-bottom"
          (click)="loginWithBiometric()"
          mode="ios"
          [disabled]="!biometricAvailable"
        >
          Login with Biometrics
        </ion-button>
      </div>
    </div>
    } @else {
    <div>
      <div class="extension-header">
        <h2 class="section-title">
          {{ isFirstTimeSetup ? 'Set Up Your Password' : 'Browser Extension
          Login' }}
        </h2>

        @if (isFirstTimeSetup) {
        <ion-text class="setup-description">
          <p>Create a secure password to protect your extension data</p>
        </ion-text>
        }
      </div>

      <ion-list class="auth-form">
        <ion-item lines="none" class="form-item">
          <ion-label position="stacked">Password</ion-label>
          <ion-input
            type="password"
            [placeholder]="isFirstTimeSetup ? 'Create a password' : 'Enter your password'"
            [(ngModel)]="password"
          ></ion-input>
        </ion-item>

        @if (isFirstTimeSetup) {
        <ion-item lines="none" class="form-item">
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input
            type="password"
            placeholder="Confirm your password"
            [(ngModel)]="confirmPassword"
          ></ion-input>
        </ion-item>
        }
      </ion-list>

      <div class="primary-button-wrapper">
        <ion-button
          expand="block"
          class="ion-margin-bottom"
          size="default"
          (click)="loginWithPassword()"
        >
          {{ isFirstTimeSetup ? 'Set Password & Continue' : 'Unlock Extension'
          }}
        </ion-button>
      </div>

      <div class="security-tips">
        <ion-icon name="shield-checkmark"></ion-icon>
        <span>Your data is encrypted locally</span>
      </div>
    </div>
    }
  </div>
</ion-content>
