.web3-approval-page {
  --padding-start: 0;
  --padding-end: 0;
  border: none;

  .logo {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 80px;
  }

  .wallet-container {
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 3px solid #333333;
    margin-left: 7px;
    margin-right: 7px;
  }

  .chain-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .chain-label img {
    display: block;
    height: 25px;
    width: auto;
    margin-top: 2px;
  }

  ion-list {
    background: transparent;
  }

  ion-item.wallet-item {
    --background: #333333;
    border: 3px solid #333333;
    border-radius: 25px;
    transition: background 0.2s;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
  }

  ion-item.selected-wallet {
    --background: #272727;
    border: 3px solid #0bbab5;
  }

  .wallet-checkbox {
    --size: 25px;
    --checkbox-background-checked: #0bbab5;
    --border-radius: 25px;

    margin-right: 30px;
  }

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    padding: 2px 0px 0px 0px;
  }

  p {
    color: #bdbdbd;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 5px 0px;
  }
}

ion-footer {
  background-color: #1B1B1B !important;
}
