<ion-content [fullscreen]="true" class="create-wallet-content">
  <ion-button fill="clear" class="primary-back-button" [routerLink]="['/onboarding/setup-wallet']">
    <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
  </ion-button>

  <div class="ion-text-center">
    <app-header></app-header>
  </div>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center" style="margin-top: -75px;">
            <h1 style="font-weight: bold">Recovery Phrase</h1>
            <span style="font-size: 15px;">Write down this mnemonic phrase and store it securely. It will be required to restore your
              wallet.</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-padding-horizontal">
    <app-new-wallet [selectedNetwork]="selectedNetwork" (onCreatedWallet)="onCreatedWallet($event)"></app-new-wallet>
  </div>
</ion-content>
