.terms-conditions-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-grid {
    max-width: 500px;
    width: 100%;

    ion-col {
      padding: 3px;
    }

    .segments {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      margin-top: 10px;
      color: #ffffff;

      ion-segment {
        --background: #333333;
        border-radius: 25px;

        ion-segment-button {
          --color: white;
          --indicator-color: #0bbab5;
          --padding-top: 10px;
          --padding-bottom: 10px;
          --border-radius: 25px;

          font-family: 'Poppins', sans-serif;
          font-size: 14px;

          &.segment-button-checked {
            --background: #0bbab5;
            --color: white;

            font-weight: 600;
          }
        }
      }
    }

    ion-segment-content {
      padding: 0px 5px;
    }

    .text-header {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 30px;
    }

    .text-sub-header {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 18px;
    }

    .text-content {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
    }
  }
}
