<div class="segments">
  <ion-segment value="default">
    <ion-segment-button value="default" content-id="terms-of-use">
      <ion-label>Terms Of Use</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" content-id="privacy-policy">
      <ion-label>Privacy Policy</ion-label>
    </ion-segment-button>
    <ion-segment-button value="buttons" content-id="coockies-policy">
      <ion-label>Cookies policy</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<ion-segment-view>
  <ion-segment-content id="terms-of-use">
    <div class="ion-padding-horizontal">
      <h1 class="ion-custom-text-header">Xterium Terms Of Use</h1>
      <p class="ion-custom-text" style="font-weight: bold; font-size: 14px">
        Welcome to Xterium! These Terms of Use (“Terms”) govern your use of our
        website [xterium.app] (“Website”) and any associated services provided
        by Xterium(“we”, “us”, or “our”). By accessing or using the Website, you
        agree to be bound by these Terms. If you do not agree with these Terms,
        please do not use the Website.
      </p>
      <h4 class="ion-custom-text-sub-header">1. User Eligibility</h4>
      <p class="ion-custom-text-content">
        You must be at least 13 years old to use this Website. By using the
        Website, you represent and warrant that you are at least 13 years old.
      </p>
      <h4 class="ion-custom-text-sub-header">2. Use of the Website</h4>
      <p class="ion-custom-text-content">
        2.1. License: Subject to these Terms, we grant you a limited,
        non-exclusive, non-transferable, and revocable license to use the
        Website for your personal, non-commercial use.
      </p>
      <p class="ion-custom-text-content">
        2.2. Prohibited Activities: You agree not to:
      </p>
      <ul class="ion-custom-text-content">
        <li>
          Use the Website for any unlawful purpose or in violation of any
          applicable laws.
        </li>
        <li>
          Interfere with or disrupt the integrity or performance of the Website.
        </li>
        <li>
          Attempt to gain unauthorized access to the Website or its related
          systems or networks.
        </li>
        <li>
          Engage in any form of automated data collection or scraping without
          our prior written consent.
        </li>
        <li>
          Post, transmit, or share content that is harmful, offensive, obscene,
          or otherwise objectionable.
        </li>
      </ul>
      <p class="ion-custom-text-content">
        2.3. Intellectual Property: All content on this Website, including but
        not limited to text, graphics, logos, and images, is protected by
        intellectual property rights and is the property of Xterium or its
        licensors.
      </p>
      <h4 class="ion-custom-text-sub-header">3. User-Generated Content</h4>
      <p class="ion-custom-text-content">
        3.1. Submission of Content: By submitting content (such as comments,
        reviews, or contributions) to the Website, you grant us a worldwide,
        irrevocable, non-exclusive, royalty-free license to use, reproduce,
        modify, publish, translate, distribute, and display the content.
      </p>
      <p class="ion-custom-text-content">
        3.2. Responsibility for Content: You are solely responsible for the
        content you submit, and you represent and warrant that you have all
        necessary rights to do so.
      </p>
      <h4 class="ion-custom-text-sub-header">4. Privacy</h4>
      <p class="ion-custom-text-content">
        Our Privacy Policy explains how we collect, use, and disclose
        information about you. By using the Website, you consent to the
        practices described in the Privacy Policy.
      </p>
      <h4 class="ion-custom-text-sub-header">5. Third-Party Links</h4>
      <p class="ion-custom-text-content">
        The Website may contain links to third-party websites. We do not endorse
        or assume any responsibility for the content, privacy policies, or
        practices of any third-party sites.
      </p>
      <h4 class="ion-custom-text-sub-header">6. Disclaimer of Warranties</h4>
      <p class="ion-custom-text-content">
        The Website is provided “as is” and “as available” without warranties of
        any kind, either express or implied. We disclaim all warranties,
        including but not limited to, implied warranties of merchantability,
        fitness for a particular purpose, and non-infringement.
      </p>
      <h4 class="ion-custom-text-sub-header">7. Limitation of Liability</h4>
      <p class="ion-custom-text-content">
        In no event shall Xterium, its officers, directors, employees, or agents
        be liable for any indirect, consequential, special, incidental, or
        punitive damages arising out of or in connection with your use of the
        Website.
      </p>
      <h4 class="ion-custom-text-sub-header">
        8. Governing Law and Jurisdiction
      </h4>
      <p class="ion-custom-text-content">
        These Terms are governed by and construed in accordance with the laws of
        [Jurisdiction], without regard to its conflict of law principles.
      </p>
      <h4 class="ion-custom-text-sub-header">9. Changes to the Terms</h4>
      <p class="ion-custom-text-content">
        We may update these Terms from time to time for legal or regulatory
        reasons. The date of the latest revision will be indicated at the
        beginning of the document.
      </p>
    </div>
  </ion-segment-content>

  <ion-segment-content id="privacy-policy">
    <div class="ion-padding-horizontal">
      <h1 class="ion-custom-text-header">Privacy Policy</h1>
      <h4 class="ion-custom-text-sub-header">GENERAL</h4>
      <p class="ion-custom-text-content">
        Xterium and its affiliates (also collectively referred as “Company”,
        “we”, “our” and “us”) established this Data Privacy Policy to show that
        we recognize and value your privacy rights.
      </p>
      <h4 class="ion-custom-text-sub-header">APPLICABILITY</h4>
      <p class="ion-custom-text-content">
        This Data Privacy Policy applies to Personal Information we collect on
        our Xterium websites. We have prepared this Privacy Policy to help you
        understand how Xterium collects, uses, and seeks to safeguard the
        Personal Information (as defined below) you provide to us on our
        websites, via email, and through our service providers and distribution
        partners. This Privacy Policy does not address, and we are not
        responsible for, the privacy, information or other practices of any
        third party, including any third-party distribution partners, suppliers,
        and any third party operating any site to which our websites contain a
        link. By downloading, accessing or using our websites, or providing
        information to us in connection with our websites, you agree to the
        terms and conditions of this Privacy Policy.
      </p>
      <h4 class="ion-custom-text-sub-header">
        PROCESSING OF INFORMATION BY THIRD-PARTY AND LINKS TO OTHER WEBSITES
      </h4>
      <p class="ion-custom-text-content">
        This Data Privacy Policy shall not apply to third-party service
        providers and to other websites which have white label links to our
        Sites. The processing of your Personal Information in the third party’s
        Sites is subject to their respective Data Privacy Policy. In no event
        will the Company be responsible for the information these third parties
        will collect and process, nor will the Company be liable for any loss,
        damage or injury arising out of or in connection with the use of or
        reliance on such third parties.
      </p>
    </div>
  </ion-segment-content>
  <ion-segment-content id="coockies-policy">
    <div class="ion-padding-horizontal">
      <h1 class="ion-custom-text-header">Cookies policy</h1>
      <h4 class="ion-custom-text-sub-header">Introduction</h4>
      <p class="ion-custom-text-content">
        Welcome to Xterium! This Cookie Policy explains how Xterium(“we”, “us”,
        or “our”) uses cookies and similar technologies when you visit our
        website [xterium.app] (“Website”). This policy aims to provide you with
        clear and comprehensive information about the types of cookies we use
        and their purposes.
      </p>
      <p class="ion-custom-text-content">
        By continuing to use our Website, you consent to the use of cookies in
        accordance with this Cookie Policy. If you do not agree with the use of
        cookies, you should adjust your browser settings accordingly or refrain
        from using the Website.
      </p>
      <h4 class="ion-custom-text-sub-header">What are Cookies?</h4>
      <p class="ion-custom-text-content">
        Cookies are small text files that are placed on your computer or mobile
        device by a website when you visit it. They are widely used to ensure
        the proper functioning of websites, enhance user experience, and provide
        analytical information to website owners.
      </p>
      <h4 class="ion-custom-text-sub-header">Types of Cookies We Use</h4>
      <h4 class="ion-custom-text-sub-header">Essential Cookies</h4>
      <p class="ion-custom-text-content">
        These cookies are necessary for the operation of our Website. They
        enable you to navigate the site and use its features, such as accessing
        secure areas or making use of marketplace functionalities. Without these
        cookies, the Website may not function properly.
      </p>
      <h4 class="ion-custom-text-sub-header">Analytical/Performance Cookies</h4>
      <p class="ion-custom-text-content">
        These cookies allow us to recognize and count the number of visitors and
        to see how visitors move around our Website when they are using it. This
        helps us to improve the way our Website works, for example, by ensuring
        that users find what they are looking for easily.
      </p>
      <h4 class="ion-custom-text-sub-header">Functionality Cookies</h4>
      <p class="ion-custom-text-content">
        These cookies are used to recognize you when you return to our Website.
        This enables us to personalize our content for you, greet you by name,
        and remember your preferences (for example, your choice of language or
        region).
      </p>
      <h4 class="ion-custom-text-sub-header">Targeting Cookies</h4>
      <p class="ion-custom-text-content">
        These cookies record your visit to our Website, the pages you have
        visited, and the links you have followed. We will use this information
        to make our Website and the advertising displayed on it more relevant to
        your interests. We may also share this information with third parties
        for this purpose.
      </p>
      <h4 class="ion-custom-text-sub-header">Third-Party Cookies</h4>
      <p class="ion-custom-text-content">
        Please note that third parties (including, for example, advertising
        networks and providers of external services like web traffic analysis
        services) may also use cookies, over which we have no control. These
        cookies are likely to be analytical/performance cookies or targeting
        cookies.
      </p>
      <h4 class="ion-custom-text-sub-header">How to Manage Cookies</h4>
      <p class="ion-custom-text-content">
        You can block cookies by activating the setting on your browser that
        allows you to refuse the setting of all or some cookies. However, if you
        use your browser settings to block all cookies (including essential
        cookies), you may not be able to access all or parts of our Website.
      </p>
      <h4 class="ion-custom-text-sub-header">Changes to this Cookie Policy</h4>
      <p class="ion-custom-text-content">
        We may update this Cookie Policy from time to time to reflect, for
        example, changes to the cookies we use or for other operational, legal,
        or regulatory reasons. Please revisit this page regularly to stay
        informed about our use of cookies.
      </p>
    </div>
  </ion-segment-content>
</ion-segment-view>
