/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

/* Custom Fonts */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Customized Global CSS */
body {
  font-family: 'Poppins', sans-serif;
}

ion-content {
  --background: #1B1B1B !important;
}

ion-content.onboarding-content::part(scroll) {
  background-image: url("assets/images/backgrounds/onboarding-page.png");
  background-repeat: no-repeat;
  background-position: center calc(100% - 50px);
  background-size: 200px auto;
  height: 100%;
}

.primary-back-button {
  --color: white;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 18px;
  --padding-end: 18px;

  position: absolute;
  z-index: 100;
  font-size: 24px;
}

.primary-button-controls {
  padding: 0px 20px;
  margin: 20px auto;

  ion-button {
    --background: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --color: white;
    --border-radius: 50px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
    --box-shadow: none;
  }

  ion-button::part(native) {
    background-image: url("assets/images/backgrounds/main-button.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.2s ease;
    font-weight: 900;
  }

  ion-button:active {
    transform: scale(0.98);
  }

  ion-button:active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    border-radius: 50px;
  }
}

ion-toolbar.main-modal-toolbar {
  --background: #1B1B1B;
}

.copy-paste-button-wrapper {
  ion-button {
    --background: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --color: white;
    --color-activated: #c2c2c2;
    --border-radius: 30px;
    --border-color: white;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 30px;
    --padding-end: 30px;

    font-size: 15px;
  }

  ion-button::part(native) {
    transition: background-size 0.2s ease;
    font-weight: 900;
  }
}

.token-action-buttons {
  padding-bottom: 5px;

  ion-button {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;

    background-image: url("./assets/images/backgrounds/main-button.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.2s ease;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
  }

  .button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;

    ion-icon {
      font-size: 30px;
      margin-bottom: 10px;
      color: white;
    }

    .label {
      font-size: 15px;
      color: white;
    }
  }
}
