/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

/* Custom Fonts */
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Customized Global CSS */
.chrome-extension-mode {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  ion-app {
    overflow: hidden;
  }

  ion-content {
    --overflow: auto;
  }

  ion-item {
    cursor: pointer;

    &:hover {
      --background: var(--ion-color-light);
    }
  }

  ion-button {
    cursor: pointer;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

ion-content {
  --background: #1B1B1B !important;
}

.parent-page-content {
  display: flex;
  justify-content: center;
  align-items: center;

  .parent-page-inner-content {
    max-width: 960px;
    margin: auto;
  }
}

ion-refresher {
  padding-top: 100px;
}

.primary-back-button {
  --color: white;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 10px;
  --padding-end: 10px;

  position: absolute;
  z-index: 100;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

.primary-button-wrapper {
  ion-button {
    --background: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --color: white;
    --border-radius: 50px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
    --box-shadow: none;

    margin-inline-start: 0px;
    margin-inline-end: 0px;

    &::part(native) {
      background: center / 100% 100% no-repeat url("assets/images/backgrounds/main-button.png");
      transition: background-size 0.2s ease;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

    &.secondary-button::part(native) {
      background-image: url("assets/images/backgrounds/secondary-button.png");
    }

    &.success-button::part(native) {
      background-image: url("assets/images/backgrounds/success-button.png");
    }

    &.danger-button::part(native) {
      background-image: url("assets/images/backgrounds/danger-button.png");
    }

    &:active {
      transform: scale(0.98);

      &::after {
        content: '';
        position: absolute;
        inset: 0; // shorthand for top, right, bottom, left = 0
        background: rgba(255, 255, 255, 0.1);
        pointer-events: none;
        border-radius: 50px;
      }
    }
  }
}

ion-toolbar.main-modal-toolbar {
  --background: #1B1B1B;
  --padding-top: 10px;
}

.balance-action-buttons {
  ion-button {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;

    background-image: url("./assets/images/backgrounds/main-button.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.2s ease;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 5px 0px;
  }

  .button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;

    ion-icon {
      font-family: 'Poppins', sans-serif;
      font-size: 30px;
      margin-bottom: 10px;
      color: white;
    }

    .label {
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      color: white;
    }
  }
}

ion-item.primary-input-item,
ion-item.primary-input-file,
ion-item.primary-textarea-item,
ion-item.primary-select-button-item {
  --background: #333333;
  --color: #ffffff;
  box-shadow: none !important;

  ion-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
}

ion-item.primary-input-item {
  border-radius: 50px;

  ion-input {
    border: none;
  }
}

ion-item.primary-input-file {
  border-radius: 25px;

  ion-input {
    border: none;
  }
}

ion-item.primary-textarea-item {
  border-radius: 25px;

  ion-textarea {
    border: none;
  }
}

ion-item.primary-select-button-item {
  border-radius: 25px;

  ion-button {
    border: none;
    color: white;
  }
}

ion-item.primary-input-item:not(:has(ion-input[readonly])),
ion-item.primary-input-file:not(:has(ion-input[readonly])),
ion-item.primary-textarea-item:not(:has(ion-textarea[readonly])),
ion-item.primary-select-button-item:not(:has(ion-select[readonly])) {
  border: 3px solid #777777;
}

ion-item.primary-input-item:focus-within:not(:has(ion-input[readonly])),
ion-item.primary-input-file:focus-within:not(:has(ion-input[readonly])),
ion-item.primary-textarea-item:focus-within:not(:has(ion-textarea[readonly])),
ion-item.primary-select-button-item:focus-within:not(:has(ion-select[readonly])) {
  --background: #272727;
  border-color: #0bbab5;
}

.global-loader-container {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;

  h3.global-loader-text {
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    animation: fadePulse 1.5s infinite;
  }

  @keyframes fadePulse {
    0% {
      opacity: 0.6;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.6;
    }
  }
}

.xterium-header {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-top: 75px;
    color: #ffffff;
  }

  span {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
}
