.explore-page {

  .card-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .feature-card {
    box-shadow: none;
    border: 1px solid #4c4a4b;
    height: 100%;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: block;
    }
  }
}
