.explore-content {
  ion-col {
    ion-card.explore-card {
      box-shadow: none;
      border: 1px solid #4c4a4b;
      border-radius: 1.5rem;
      background: #2a2a2a;
      margin: 5px 0px;

      div.explore-card-image {
        height: 120px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }
}
