.explore-page {
  .segments-header {
    font-weight: 700;
    margin-top: 70px;
    color: #ffffff;
    padding-left: 26px;
    padding-right: 26px;
    
    .header-content {
      padding-top: 20px;
      text-align: center;
      
      h1 {
        margin: 0 0 8px 0;
        font-size: 18px;
        font-weight: bold;
      }
      
      span {
        font-size: 14px;
        opacity: 0.8;
      }
    }
  }

  .card-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .feature-card {
    box-shadow: none;
    border: 1px solid #4c4a4b;
    height: 100%;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: block;
    }
  }
}