.wallets-list {
  border: none;

  .chain-label {
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #c7c7c7;
  }

  ion-grid.wallet-grid {
    margin-top: -10px;
    margin-bottom: 5px;
  }

  ion-list {
    background: transparent;
  }

  ion-item.wallet-item {
    --background: #333333;

    border: 3px solid #333333;
    border-radius: 1.5rem;
    transition: background 0.2s;
    padding: 0;
  }

  ion-item.selected-wallet {
    --background: #272727;
    border: 3px solid #0bbab5;
  }

  .wallet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-button {
    --color: #bdbdbd;

    margin-right: -10px;

    ion-icon {
      font-size: 27px;
      margin-bottom: 2px;
    }

    &:hover {
      --color: #ffffff;
    }
  }

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding: 8px 0px 2px 0px;
  }

  p {
    color: #bdbdbd;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 8px 0px;
  }
}

ion-modal.select-network-metadata-modal,
ion-modal.select-chain-modal {
  --height: auto;
}

.wallet-cta {
  border-radius: 1.5rem;
  --background: #333333;
  color: #fff;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  width: 100%; 
  max-width: 400px; 
  margin: 0 auto; 

  .wallet-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
  }

  .wallet-subtitle {
    font-size: 1rem;
    opacity: 0.8;
    margin-top: 4px;
  }

  .wallet-btn {
    --background: #fff;
    --color: #000;
    --border-radius: 10px;
    font-weight: 600;
    --background: #333333;
  }
}

 
