<div class="wallets-list">
  <ion-list>
    <ion-item button detail="false" lines="none" id="wallet-details">
      <ion-avatar slot="start">
        <img src="./../../../../assets/icon/xterium-logo.png" />
      </ion-avatar>
      <ion-label>
        <h2>My Wallet</h2>
        <p>5CJ6J...Pm7cTY</p>
      </ion-label>
      <div slot="end" class="ion-text-right">

      </div>
    </ion-item>

    <ion-item button detail="false" lines="none" id="wallet-details">
      <ion-avatar slot="start">
        <img src="./../../../../assets/icon/xterium-logo.png" />
      </ion-avatar>
      <ion-label>
        <h2>My Wallet 2</h2>
        <p>5CJ6J...Pm7cTY</p>
      </ion-label>
      <div slot="end" class="ion-text-right">

      </div>
    </ion-item>

    <ion-item button detail="false" lines="none" id="wallet-details">
      <ion-avatar slot="start">
        <img src="./../../../../assets/icon/xterium-logo.png" />
      </ion-avatar>
      <ion-label>
        <h2>My Wallet 3</h2>
        <p>5CJ6J...Pm7cTY</p>
      </ion-label>
      <div slot="end" class="ion-text-right">

      </div>
    </ion-item>
  </ion-list>
</div>

<ion-modal #settings trigger="wallet-details" [presentingElement]="mainPresentingElement">
  <ng-template>
    <ion-toolbar class="main-modal-toolbar">
      <ion-title>My Wallet</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="settings.dismiss()">
          <ion-icon name="close" style="color: white;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-content>
      <app-wallet-details></app-wallet-details>
    </ion-content>
  </ng-template>
</ion-modal>
