<div class="wallets-list ion-padding">
  <ion-list>
    <ion-item button detail="false" lines="none">
      <ion-avatar slot="start">
        <img src="./../../../../assets/icon/xterium-logo.png" />
      </ion-avatar>
      <ion-label>
        <h2>My Wallet</h2>
        <p>5CJ6J...Pm7cTY</p>
      </ion-label>
      <div slot="end" class="ion-text-right">

      </div>
    </ion-item>

    <ion-item button detail="false" lines="none">
      <ion-avatar slot="start">
        <img src="./../../../../assets/icon/xterium-logo.png" />
      </ion-avatar>
      <ion-label>
        <h2>My Wallet 2</h2>
        <p>5CJ6J...Pm7cTY</p>
      </ion-label>
      <div slot="end" class="ion-text-right">

      </div>
    </ion-item>

    <ion-item button detail="false" lines="none">
      <ion-avatar slot="start">
        <img src="./../../../../assets/icon/xterium-logo.png" />
      </ion-avatar>
      <ion-label>
        <h2>My Wallet 3</h2>
        <p>5CJ6J...Pm7cTY</p>
      </ion-label>
      <div slot="end" class="ion-text-right">

      </div>
    </ion-item>
  </ion-list>
</div>
