.wallets-list {
  border: none;
  padding: 5px 8px;

  .chain-label {
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #c7c7c7;
  }

  ion-grid.wallet-grid {
    margin-top: -10px;
    margin-bottom: 5px;
  }

  ion-list {
    background: transparent;
  }

  ion-item.wallet-item {
    --background: #333333;

    border: 3px solid #333333;
    border-radius: 1.5rem;
    transition: background 0.2s;
    padding: 0;
  }

  ion-item.selected-wallet {
    --background: #272727;
    border: 3px solid #0bbab5;
  }

  .wallet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-button {
    --color: #bdbdbd;

    margin-right: -10px;

    ion-icon {
      font-size: 27px;
      margin-bottom: 2px;
    }

    &:hover {
      --color: #ffffff;
    }
  }

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding: 8px 0px 2px 0px;
  }

  p {
    color: #bdbdbd;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 8px 0px;
  }
}
