.wallets-list {
  border: none;

  ion-item {
    --background: #333333;

    border-radius: 12px;
    transition: background 0.2s;
  }

  .wallet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-button {
    --color: #bdbdbd;

    margin: 0;
    margin-right: -17px;

    &:hover {
      --color: #ffffff;
    }
  }

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    padding: 8px 0px 2px 0px;
  }

  p {
    color: #bdbdbd;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 8px 0px;
  }
}
