<ion-content [fullscreen]="true" class="onboarding-content">
  <div class="ion-text-center">
    <app-header></app-header>

    <div class="ion-padding" style="margin-top: -60px;">
      <h1 style="font-weight: bold">Welcome</h1>
      <span>Get started by creating a new wallet or importing an existing one</span>
    </div>
    <div class="ion-padding">
      <ion-checkbox>I agree to the <a [routerLink]="['/xterium']">terms and conditions</a></ion-checkbox>
    </div>
  </div>

  <div class="primary-button-controls">
    <ion-button expand="block" size="default" class="ion-margin-bottom"
      [routerLink]="['/onboarding/create-new-wallet']">CREATE A NEW WALLET</ion-button>
    <ion-button expand="block" size="default" [routerLink]="['/onboarding/import-options']">
      I ALREADY HAVE A WALLET
    </ion-button>
  </div>
</ion-content>
