<ion-content [fullscreen]="true" class="token-details-content">
  <ion-button fill="clear" class="back-button" [routerLink]="['/xterium']">
    <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
  </ion-button>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="token-title">
            <ion-list>
              <ion-item detail="false" lines="none">
                <ion-avatar slot="start">
                  <img [src]="balance.token.image" />
                </ion-avatar>
                <ion-label>
                  <h1>{{ balance.token.name }}</h1>
                  <p>{{ balance.token.symbol }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <div class="ion-text-center token-price">
              <h1>$ {{ formatPrice(balance.price) }} </h1>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <!-- Price history is not yet implemented -->
      <!-- <ion-row>
        <ion-col size="12">
          <div id="chart">
            <apx-chart
              [series]="candlestickSeries"
              [chart]="candlestickChart"
              [xaxis]="candlestickXaxis"
              [yaxis]="candlestickYaxis"
              [title]="candlestickTitle"
            ></apx-chart>
          </div>
        </ion-col>
      </ion-row> -->
      <ion-row class="ion-margin-top balance-action-buttons">
        <ion-col size="4" class="ion-text-center">
          <ion-button fill="clear" expand="block" id="token-details-receive">
            <div class="button-content">
              <ion-icon name="qr-code"></ion-icon>
              <span class="label">{{ 'Receive' | translate }}</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button fill="clear" expand="block" id="token-details-send">
            <div class="button-content">
              <ion-icon name="send"></ion-icon>
              <span class="label">{{ 'Send' | translate }}</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button fill="clear" expand="block" (click)="goToSwap()">
            <div class="button-content">
              <ion-icon name="swap-horizontal"></ion-icon>
              <span class="label">{{ 'Swap' | translate }}</span>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="token-balance">
            <div class="token-balance-header">
              <h3>{{ 'Your Balance' | translate }}</h3>
            </div>
            <ion-item detail="false" lines="none">
              <ion-avatar slot="start">
                <img [src]="balance.token.image" />
              </ion-avatar>
              <ion-label>
                <h2>{{ balance.token.name }}</h2>
                <p>
                  {{ formatBalanceWithSuffix(balance.quantity, balance.token.decimals) }}
                  {{ balance.token.symbol }}
                </p>
              </ion-label>
              <div slot="end" class="ion-text-right">
                <h2>
                  $ {{ formatBalanceWithSuffix(balance.amount, balance.token.decimals) }}
                </h2>
                <p style="color: #333333">-</p>
              </div>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="token-details">
        <ion-col size="12">
          <div class="token-details-header">
            <h3>{{ 'Token Details' | translate }}</h3>
          </div>
          <ion-list>
            <ion-item detail="false" lines="none">
              <ion-label slot="start">
                <p>{{ 'Name' | translate }}</p>
              </ion-label>
              <div slot="end" class="ion-text-right">
                <h2>{{ balance.token.name }}</h2>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none">
              <ion-label slot="start">
                <p>{{ 'Symbol' | translate }}</p>
              </ion-label>
              <div slot="end" class="ion-text-right">
                <h2>{{ balance.token.symbol }}</h2>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none">
              <ion-label slot="start">
                <p>{{ 'Network' | translate }}</p>
              </ion-label>
              <div slot="end" class="ion-text-right">
                <h2>{{ getChainName(balance.token.chain_id) }}</h2>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none">
              <ion-label slot="start">
                <p>{{ 'Chain' | translate }}</p>
              </ion-label>
              <div slot="end" class="ion-text-right">
                <h2>{{ getChainName(currentWallet.chain.id) }}</h2>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none">
              <ion-label slot="start">
                <p>{{ 'Decimal' | translate }}</p>
              </ion-label>
              <div slot="end" class="ion-text-right">
                <h2>{{ balance.token.decimals }}</h2>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none">
              <ion-label slot="start">
                <p>{{ 'Total Supply' | translate }}</p>
              </ion-label>
              <div slot="end" class="ion-text-right">
                <h2>{{ formatBalanceWithSuffix(+balance.token.total_supply, balance.token.decimals) }}</h2>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none">
              <ion-label slot="start">
                <p>{{ 'Reference Id' | translate }}</p>
              </ion-label>
              <div slot="end" class="ion-text-right">
                <h2>{{ balance.token.reference_id }}</h2>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal #tokenDetailsReceive trigger="token-details-receive" [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
    [expandToScroll]="false">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>{{ 'Receive' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="tokenDetailsReceive.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <div class="ion-padding-horizontal">
          <app-receive [token]="balance.token"></app-receive>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #tokenDetailsSend trigger="token-details-send" [initialBreakpoint]="0.98" [breakpoints]="[0, 0.98]"
    [expandToScroll]="false">
    <ng-template>
      <ion-toolbar class="main-modal-toolbar">
        <ion-title>{{ 'Send' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="tokenDetailsSend.dismiss()">
            <ion-icon name="close" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <div class="ion-text-center ion-padding">
          <app-send [balance]="balance" (onClickSend)="onClickSend($event)"></app-send>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-toast [duration]="5000"></ion-toast>
</ion-content>
