.token-details-content {
  ion-button.back-button {
    --color: white;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 18px;
    --padding-end: 18px;

    position: absolute;
    z-index: 100;
    font-size: 24px;
    margin-top: 85px;
  }

  .token-title {
    margin-top: 45px;

    ion-list {
      background: transparent;

      ion-item {
        --background: transparent;

        border-radius: 1.5rem;
        margin-bottom: 10px;
        transition: background 0.2s;

        ion-avatar {
          width: var(--avatar-size);
          height: var(--avatar-size);
          margin-left: 20px;
        }
      }

      h1 {
        color: #ffffff;
        font-weight: 600;
        font-size: clamp(10px, 5vw, 20px);
        margin: 0px;
        padding: 8px 0px 2px 0px;
        white-space: nowrap;
      }

      p {
        color: #bdbdbd;
        font-weight: 600;
        font-size: clamp(13px, 4vw, 17px);
        margin: 0px;
        padding: 0px 0px 8px 0px;
      }
    }

    .token-price h1 {
      font-weight: 600;
      font-size: clamp(20px, 8vw, 35px);
      color: #ffffff;
    }
  }

  .token-price-chart {
    .label-bg {
      background-color: black;
    }
  }

  .token-balance {
    .token-balance-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 17px 5px 10px 5px;

      h3 {
        color: white;
        font-size: 17px;
        font-weight: 600;
        margin: 0;
      }
    }

    ion-list {
      background: transparent;
    }

    ion-item {
      --background: #333333;

      border-radius: 1.5rem;
      transition: background 0.2s;
      margin-bottom: 10px;

      ion-label {
        max-width: 60%;
        min-width: 0;

        h2 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      div[slot="end"] {
        max-width: 35%;
        min-width: 0;

        h2 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    h2 {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      margin: 0px;
      padding: 8px 0px 2px 0px;
    }

    p {
      color: #bdbdbd;
      font-size: 14px;
      margin: 0px;
      padding: 0px 0px 8px 0px;
    }
  }

  .token-details {
    .token-details-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 5px 10px 5px;

      h3 {
        color: white;
        font-size: 17px;
        font-weight: 600;
        margin: 0;
      }
    }

    ion-list {
      background: transparent;
    }

    ion-item {
      --background: #333333;

      border-radius: 1.5rem;
      margin-bottom: 10px;
      transition: background 0.2s;
      padding: 0;

      div[slot="end"] {
        max-width: 100%;
        min-width: 0;

        h2 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    h2 {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      margin: 0px;
    }

    p {
      color: #bdbdbd;
      font-size: 16px;
      margin: 0px;
    }
  }

}
