ion-button.back-button {
  --color: white;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 18px;
  --padding-end: 18px;

  position: absolute;
  z-index: 100;
  font-size: 24px;

  margin-top: 75px;
}

.token-title {
  margin-top: 45px;
  margin-left: 30px;
  margin-right: 20px;

  ion-item {
    --background: transparent;

    border-radius: 12px;
    margin-bottom: 10px;
    transition: background 0.2s;

    ion-avatar {
      height: 65px;
      width: 65px;
    }
  }

  h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    padding: 8px 0px 2px 0px;
  }

  p {
    color: #bdbdbd;
    font-size: 17px;
    margin: 0px;
    padding: 0px 0px 8px 0px;
  }

  .token-price h1 {
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
  }
}

.token-balance {
  padding: 5px 18px;

  .token-balance-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 10px 15px;

    h3 {
      color: white;
      font-size: 17px;
      font-weight: 700;
      margin: 0;
    }
  }

  ion-list {
    background: transparent;
    margin: 0px 10px 0px 10px;
  }

  ion-item {
    --background: #333333;

    border-radius: 12px;
    margin-bottom: 10px;
    transition: background 0.2s;
  }

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    padding: 8px 0px 2px 0px;
  }

  p {
    color: #bdbdbd;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 8px 0px;
  }
}

.token-details {
  padding: 5px 18px;

  .token-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 10px 15px;

    h3 {
      color: white;
      font-size: 17px;
      font-weight: 700;
      margin: 0;
    }
  }

  ion-list {
    background: transparent;
    margin: 0px 10px 0px 10px;
  }

  ion-item {
    --background: #333333;

    border-radius: 12px;
    margin-bottom: 10px;
    transition: background 0.2s;
    padding: 0;
  }

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
  }

  p {
    color: #bdbdbd;
    font-size: 16px;
    margin: 0px;
  }
}
